<section class="on-board">

  <div class="figure col-md-7">

    <div class="header">
      <a href="#" class="app-logo"><img src="./assets/img/asso.svg" alt=""></a>
    </div>

    <div class="content">
      <h1>
        {{'Login.46'| translate }}
        <div class="slidingVertical">
         <span>Alumni Associations.</span>
            <span>Trade Organizations.</span>
            <span>Not Profits.</span>
        </div>
      </h1>
      <p>
        {{'Login.47'| translate }}
      </p>
      <!-- <p>
        Optimized for associations, groups and organizations all in one spot.
      </p> -->
    </div>

    <div class="footer">
      <ul class="social">
        <li>
          <i class="fab fa-facebook-f"></i>
        </li>
        <li>
          <i class="fab fa-linkedin-in"></i>
        </li>
      </ul>
    </div>


  </div>

  <div class="form col-md-5">
    <div class="animated fadeIn inside-form">




      <div *ngIf="!isAlreadyMember && !isEmailVerifiedWithoutTenant">

        <div *ngIf="!isMailSent">
          <h1 class="logo"> {{'Login.59'| translate }}</h1>
          <p>Get started with Assocify for free…</p>
          <div>
            <form [formGroup]="signupForm" (submit)="signupUser()">
              <div class="form-group" [ngClass]="signupForm.controls['email'].errors && !signupForm.controls['email'].pristine ? 'no-label is-error':''">
                <input type="email" class="form-control" id="txtUserMail" placeholder="Enter Your Email Address" formControlName="email"
                  required>
                <div *ngIf="signupForm.controls['email'].errors && !signupForm.controls['email'].pristine" class="error-msg animated shake">
                  <span [hidden]="!signupForm.controls['email'].errors.required">
                    <i class="fas fa-info-circle m-r-5"></i> {{'Login.4'| translate }}</span>
                  <span [hidden]="!signupForm.controls['email'].errors.patternInvalid">
                    <i class="fas fa-info-circle m-r-5"></i> {{'Login.5'| translate }}</span>
                </div>
              </div>
              <div class="form-group" [ngClass]="signupForm.controls['password'].errors && !signupForm.controls['password'].pristine ? 'no-label is-error':''">
                <input type="password" class="form-control" id="txtNewPassword" formControlName="password" placeholder="New Password" required>

                <div *ngIf="signupForm.controls['password'].errors && !signupForm.controls['password'].pristine" class="error-msg animated shake">
                  <span [hidden]="!signupForm.controls['password'].errors.required">
                    <i class="fas fa-info-circle m-r-5"></i> {{'Login.15'| translate }}</span>
                  <span [hidden]="!signupForm.controls['password'].errors.patternInvalid">
                    {{'Login.67'| translate }}
                  </span>
                </div>

                <div class="password-str">
                  * {{'Login.68'| translate }}
                </div>

              </div>
              <div class="form-group" [ngClass]="signupForm.controls['confirmPassword'].errors && !signupForm.controls['confirmPassword'].pristine ||!signupForm.controls['confirmPassword'].pristine && signupForm.hasError('isPasswordNotSame') ? 'no-label multiple is-error':''" >
                <input type="password" class="form-control" id="txtConfirmPassword" formControlName="confirmPassword" placeholder="Confirm New Password"
                  required>

                <div *ngIf="signupForm.controls['confirmPassword'].errors && !signupForm.controls['confirmPassword'].pristine" class="error-msg animated shake">
                  <span [hidden]="!signupForm.controls['confirmPassword'].errors.required">
                    <i class="fas fa-info-circle m-r-5"></i> {{'Login.69'| translate }}</span>
                </div>

                <div *ngIf="!signupForm.controls['confirmPassword'].pristine && signupForm.hasError('isPasswordNotSame')" class="error-msg animated shake">
                  <span>
                    <i class="fas fa-info-circle m-r-5"></i> {{'Login.36'| translate }}</span>
                </div>
              </div>
              <div class="form-group">
                <button class="btn btn-primary btn-block" id="btnSignUp" name="signUp" type="submit" [disabled]="isRequested ||!signupForm.valid">
                  <span [hidden]="!isRequested">
                    <i class="fa fa-spinner fa-spin" style="font-size:14px"></i>
                  </span> {{'Login.44'| translate }}</button>
              </div>

              <p id="login" [routerLink]="['/login']"> {{'Login.70'| translate }}
                <a> {{'Login.71'| translate }}</a>
              </p>
            </form>
          </div>
        </div>

        <div *ngIf="isMailSent" class="animated fadeInDown">
          <div class="signup-logo">
            <img src="assets/img/Transport.svg" alt="">
          </div>
          <h1 class="logo"> {{'Login.50'| translate }}</h1>
          <p>{{'Login.72'| translate }}
            <strong>{{signupForm.value.email}}</strong> {{'Login.73'| translate }} </p>
          <div class="login-form">
            <div class="m-t-25 m-b-15">

              <button class="btn btn-default" id="btnBack" name="back" type="button" (click)="goBack()">{{'Login.11'| translate }}</button>
              <button class="btn btn-primary" id="btnResend" name="signUp" type="button" (click)="resendMail()" [disabled]="isRequested">
                <span [hidden]="!isRequested">
                  <i class="fa fa-spinner fa-spin" style="font-size:14px"></i>
                </span>{{'Login.78'| translate }}</button>

            </div>
          </div>
        </div>

      </div>

      <div *ngIf="isAlreadyMember && !isEmailVerifiedWithoutTenant" class="animated fadeInDown">
        <h1 class="logo">{{'Login.57'| translate }}</h1>
        <p>{{'Login.74'| translate }}
        </p>
        <button class="btn btn-primary" id="btnLogin1" (click)="login()" type="button">{{'Login.71'| translate }}</button>
      </div>

      <div *ngIf="isEmailVerifiedWithoutTenant && !isAlreadyMember" class="animated fadeInDown">
        <h1 class="logo">
          {{'Login.57'| translate }}
        </h1>
        <p>{{'Login.75'| translate }}
          <strong>{{signupForm.value.email}}</strong>
        </p>
        <button class="btn btn-primary" id="btnLogin2" name="login" type="button" (click)="login()">{{'Login.76'| translate }}</button>
      </div>


      <div class="footer">
        <ul class="info">
          <li>
            {{'Login.48'| translate }}
          </li>
          <li>
            {{'Login.49'| translate }}
          </li>
        </ul>
      </div>

    </div>
  </div>



</section>