.app-logo{
    font-family: 'Clicker Script', cursive;
    // font-family: 'Pacifico', cursive;
    color: #fff;
    font-size: 34px;
    font-weight: bold;
    margin-bottom: -6px;
    width: 145px;

    img{
        width: 100%;
    }
}

.quick-n{
   
    div{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
        padding: 12px;
        background-color: transparent;
        /*border-right: 1px solid rgba(233, 235, 238, 0.30196078431372547);*/
         transition: all .3s linear;
    
        .svg{
    width: 22px;
    height: 22px;
    display: block;

    img{
        width: 100px;
    }
        }
        &:hover{
             opacity: 1;
        }
    }

    .pt3{
            padding-top: 3px;
    }

    .logout:hover{
        background-color: #ff7171;
    }

    
}

.logo{
    padding: 0;
}



.nav > li > a:focus {
    text-decoration: none;
   background-color: rgba(0, 0, 0, 0.141176);
}

.notif{
    border: 2px solid #ff6666;
    width: 20px;
    height: 20px;
    background-color: #ff7171;
    position: absolute;
    font-weight: bold;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    padding-top: 2px;
   right: 9px;
    top: 0px;
    color: #ffffff;
    font-size: 13px;
}
.tog{
    padding: 10px;
    position: absolute;
    right: 0;
   
}

.logos-circle{
    overflow: hidden;
    height: 34px;
    width: 34px;
    border-radius: 50px;
    border: 2px solid #fff;
    margin-bottom: 10px;
    margin-top: 20px;
    background-color: #fff;

    .img{
        width: 100%;
    }
}