.custom-radio{
    input{
        visibility: hidden;
    }
    span{
           /*transform: translateX(-6px);
    display: inline-block;
    font-weight: bold;*/
    }
}

.limit{
        position: absolute;
    top: -4px;
    left: 86px;
    width: 100px !important;
    input{
            
    }
}

.modal-content{
    width: 410px !important;
}

.custom-radio input:checked+span {
   background-color:#5157cc;
   color: #fff;
}

.form-inline .radio, .form-inline .checkbox {
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
    vertical-align: middle;
}