<div class="padding-15 relative">
  <div class="outer-title">
    <img alt="" src="../../../../assets/img/Mark.svg">
    <div>
      <h3>{{'Members.198'| translate }} {{'Members.200'| translate }}</h3>
      <p class="text-overflow">{{'Members.216'| translate }}</p>
    </div>
  </div>
  <membership-block-ui [isBlocked]="isBlocked"></membership-block-ui>
  <form class="m-t-15" [formGroup]="memberLevelForm" novalidate>
    <div role="tabpanel" id="btnHome">
      <div class="form-group" [ngClass]="memberLevelForm.get('name').valid || (memberLevelForm.get('name').pristine && !isMemberLevelFormSubmitted) ? '':'is-error'">
        <label for="">{{'Members.217'| translate }}</label>
        <input type="text" class="form-control" formControlName="name" id="txtName" placeholder="e.g. Gold Package">
        <div [hidden]="memberLevelForm.get('name').valid || (memberLevelForm.get('name').pristine && !isMemberLevelFormSubmitted)"
          class="error-msg">
          <span *ngIf="memberLevelForm.get('name').errors && memberLevelForm.get('name').errors.required">
            {{'Members.117'| translate }}
           
          </span>
          <span *ngIf="memberLevelForm.get('name').errors && memberLevelForm.get('name').errors.maxlength">
            {{'Members.118'| translate }}
          </span>
        </div>
      </div>
      <div class="form-group" [ngClass]="memberLevelForm.get('price').valid || (memberLevelForm.get('price').pristine && !isMemberLevelFormSubmitted) ? '':'is-error'">
        <label for="exampleInputAmount">{{'Members.218'| translate }}
        </label>
        <div class="input-group">
          <input type="text" class="form-control" formControlName="price" id="txtPrice" placeholder="e.g. 100">

          <div class="input-group-addon">
            Rs
          </div>
        </div>
        <div [hidden]="memberLevelForm.get('price').valid || (memberLevelForm.get('price').pristine && !isMemberLevelFormSubmitted)"
          class="error-msg">
          <span *ngIf="memberLevelForm.get('price').errors && memberLevelForm.get('price').errors.required">
            {{'Members.130'| translate }}
           
          </span>
          <span *ngIf="memberLevelForm.get('price').errors && memberLevelForm.get('price').errors.patternInvalid">
            {{'Members.131'| translate }}
          </span>
        </div>
      </div>

      <div class="form-group clearfix">
        <div class="switch_box box_1">

          <input type="checkbox" id="rdhasApproval" class="switch_1 m-r-5" formControlName="hasApproval" name="hasApproval">          Approval Needed
        </div>
      </div>


      <div class="form-group" [ngClass]="memberLevelForm.get('capacity').valid || (memberLevelForm.get('capacity').pristine && !isMemberLevelFormSubmitted) ? '':'is-error'">
        <label for="Capacity">{{'Members.103'| translate }}</label>
        <div class="form-inline relative">
          <div class="radio">
            <label>
              <input type="radio" id="rdLimited" value="1" formControlName="subscriptionTypeId" name="subscriptionTypeId"> {{'Members.132'| translate }}</label>
          </div>

          <div class="radio">
            <label>
              <input type="radio" id="rdUnlimited" name="subscriptionTypeId" value="2" formControlName="subscriptionTypeId"> {{'Members.104'| translate }}</label>
          </div>

          <div [hidden]="memberLevelForm.get('subscriptionTypeId').value != true" class="form-inline" id="divCapacity">
            <input type="number" min="1" class="form-control limit input-sm" formControlName="capacity" id="txtCapacity" (keypress)="keyPress($event)"
              placeholder="Limited Count">
            <div [hidden]="memberLevelForm.get('capacity').valid || (memberLevelForm.get('capacity').pristine && !isMemberLevelFormSubmitted)"
              class="error-msg">
              <span *ngIf="memberLevelForm.get('capacity').errors && memberLevelForm.get('capacity').errors.required">
                {{'Members.134'| translate }}
               
              </span>
              <span *ngIf="memberLevelForm.get('capacity').errors && memberLevelForm.get('capacity').errors.patternInvalid">
                {{'Members.135'| translate }}
              </span>
            </div>

          </div>
        </div>
      </div>

      <div class="">
        <!-- <div class="form-group ">
          <label class="m-r-5">
            <input type="radio" id="rdRange" value="2" formControlName="Limited" name="Limited" (change)="dateRange($event)"> {{'Members.135'| translate }}</label>
          <label>
            <input type="radio" id="rdRange" value="1" formControlName="Limited" name="Limited" (change)="dateRange($event)"> {{'Members.136'| translate }}</label>
        </div> -->
        <div class="form-group">
          <label for="Capacity">Period</label>
          <div class="" id="divDateDisable" *ngIf="limitDisable">
            <div class="btn-group custom-radio">
              <label class="btn btn-default ">
                <input type="radio" name="membershipExpired" value="1" id="rdAnnualy" formControlName="membershipExpired">
                <span> {{'Members.Annualy'| translate }}</span>
              </label>
              <label class="btn btn-default">
                <input type="radio" name="membershipExpired" value="2" id="rdMonthly" formControlName="membershipExpired">
                <span> {{'Members.Monthly'| translate }}</span>
              </label>
              <label class="btn btn-default">
                <input type="radio" name="membershipExpired" value="3" id="rdWeekly" formControlName="membershipExpired">
                <span>{{'Members.Weekly'| translate }}</span>
              </label>
              <label class="btn btn-default">
                <input type="radio" name="membershipExpired" value="4" id="rdDaily" formControlName="membershipExpired">
                <span>{{'Members.Daily'| translate }}</span>
              </label>
              <label class="btn btn-default">
                <input type="radio" name="membershipExpired" value="5" id="rdLifeTime" formControlName="membershipExpired">
                <span>{{'Members.Life Time'| translate }}</span>
              </label>
            </div>

          </div>
        </div>

        <!-- <div class="form-group" *ngIf="!limitDisable">

          <input id="txtSpecificDate" placeholder="subscriptionTo" class="form-control input-md" type="text" bsDatepicker formControlName="subscriptionTo"
            [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" [minDate]="minDate">
          <div [hidden]="memberLevelForm.get('subscriptionTo').valid || (memberLevelForm.get('subscriptionTo').pristine && !isMemberLevelFormSubmitted)"
            class="error-msg">
            <small *ngIf="memberLevelForm.get('subscriptionTo').errors && memberLevelForm.get('subscriptionTo').errors.required">
              {{'Members.141'| translate }}
              <br>
            </small>

          </div>
        </div> -->
      </div>

      <div class="form-group">
        <label for="">{{'Members.111'| translate }}</label>
        <textarea class="form-control" formControlName="description" id="txtDescription" rows="3" placeholder=""></textarea>
      </div>
      <div class="form-group text-right">
        <button (click)="save()" id="btnSave" class="btn btn-primary pull-right">{{'Members.142'| translate }}</button>
      </div>
    </div>
  </form>
</div>