<div class="wrapper close-sidebar" [class.close-sidebar]='isToggled'>
  <div class="inner-wrapper-3">

    <!-- <ng4-loading-spinner> </ng4-loading-spinner> -->
    <membership-block-ui></membership-block-ui>
    <membership-sidebar (toggled)="switchMenu($event)"></membership-sidebar>
    <div class="main-panel">
      <membership-header></membership-header>

      <router-outlet></router-outlet>

      <membership-footer></membership-footer>

    </div>
  </div>
</div>