.signup-logo{
    text-align: center;
    .sub-svg{
            width: 80px;
    height: 80px;
    display: block;
    margin: auto;

    }
}

a{
    cursor: pointer;
}

.on-board{
    height: 100%;
}

.figure{
    height: 100%;
    background-image: url('/assets/img/bg_2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 10%;

    .header{
        position: absolute;
        top: 24px;

        .app-logo{
            font-family: 'Clicker Script', cursive;
        color: #fff;
        font-size: 44px;
        font-weight: bold;
        display: block;
        margin: auto;
        text-decoration: none;
        }
    }

    .content{
        position: absolute;
        max-width: 524px;

        h1{
            margin: 0;
            font-size: 46px;
            color: #ffffff;
            font-weight: 400;
            line-height: 1em;
        }

        p{
            margin: 0;
            margin-top: 10px;
            font-size: 20px;
            color: #ffffff; 
            line-height: 1.4em;           
        }

        a{
            cursor: pointer;
        }
    }

    .footer{
        position: absolute;
        bottom: 15px;

        ul.social{
            padding: 0;
            margin: 0;

            li{
                list-style: none;
                font-size: 24px;
                display: inline-block;
                text-decoration: none;
                color: #ffffff;
                margin-right: 20px;
            }
        }
    }
}

.figure::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(71, 73, 192, 0.82);
    padding: 0;
    height: 100%;
    z-index: 0;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow-y: auto;
    padding-top: 30px;
    padding-bottom: 30px;

    .animated{
        max-width: 400px;
        width: 100%;
    }

    .image-info{
        display: block;
        font-size: 12px;
        margin-bottom: 8px;
    }

    .title-content{
        margin-top: 42px;
    }

    .login-form{
        margin-bottom: 30px;
    }

    p{
        font-size: 16px;
    }

    .signup-logo{
        width: 86px;
    }

    h1.logo{
        font-weight: 600;
        margin: 0;
        font-size: 30px;
        margin-bottom: 4px;
    }

    .app-logo{
        font-family: 'Clicker Script', cursive;
        font-weight: bold;
        margin: auto;
        text-decoration: none;
    }

    
    .footer{
        position: absolute;
        bottom: 32px;
        padding: 0;

        ul.info{
            padding: 0;
            margin: 0;

            li{
                list-style: none;
                font-size: 14px;
                display: inline-block;
                text-decoration: none;
                color: #000000;
                margin-right: 20px;
            }
        }
    }

}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;

    .btn {
        border: 1px solid #d7d7d7;
        color: #354052;
        font-size: 14px;
        background-color: white;
        padding: 8px 20px;
        border-radius: 8px;
        font-weight: bold;
        border-radius: 50px;
        cursor: pointer;
      }
      
      input[type=file] {
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
      }
  }

  .org-img{
    width: 140px;
    height: 140px;
    border-radius: 100px;
    padding: 9px;
    border: 1px solid #ccc;   
    margin: 16px auto;


    span{
        overflow: hidden;
        width: 120px;
        height: 120px;
        background-color: #f0f0f0;
        border-radius: 100px;
        display: block;

        img{
            width: 100%;
        }
       
    }
  }

  

.slidingVertical span{
       color: #a7e24b;
    font-weight: bold;
}


@keyframes topToBottom{
   
0% {
    opacity: 0;
}

5% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
}

10% {
    opacity: 1;
    -webkit-transform: translateY(0px);
}

25% {
    opacity: 1;
    -webkit-transform: translateY(0px);
}

30% {
    opacity: 0;
    -webkit-transform: translateY(20px);
}

80% {
    opacity: 0;
}

100% {
    opacity: 0;
}
}

.oops{
    font-weight: bold;
    margin-bottom: 4px;
}