.custom-svg{
    width: 100%;
    margin-top: 5px;
}

.badge.Terminated{
    background-color: red !important;
}

.badge.Pending{
    background-color: #ff9708 !important;
}

.badge.Inactive{
    background-color: #9a9a9c !important;
}

.badge.Approval{
    background-color: rgb(201, 75, 201)!important;
}

.badge.Rejected{
    background-color: rgb(218, 46, 16)!important;
}

tr.Pending{
    border-left:5px solid #ff9708;
        background-color: rgba(255, 236, 179, 0.439215686274509)!important;
}

tr.Active{
    border-left:5px solid #4CAF50;
    /*background-color: rgba(139, 195, 74, 0.2784313725490196)!important;*/
}

tr.Inactive{
    border-left:5px solid #9a9a9c;
        background-color: #eff2f5 !important;
}

tr.Terminated{
    border-left:5px solid red;
        background-color: rgba(244, 67, 54, 0.14) !important
}

.notification{
        width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100&1+0,0+100;Blue+to+Transparent */
background: -moz-radial-gradient(center, ellipse cover, rgba(108, 109, 250, 0.68) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, rgba(108, 109, 250, 0.68) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, rgba(108, 109, 250, 0.68) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    div{
            background-color: white;
    width: 300px;
    /*height: 210px;*/
    margin: auto;
    box-shadow: 0px 0px 11px 1px rgba(85, 85, 85, 0.321568627450980);
    border-radius: 4px;
    padding: 30px 15px;
        overflow: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    img{
        width: 25%;
    }

    h4{
        font-weight: bold;
        margin-bottom: 5px;
    }
    .btn{
        margin-top: 15px;
    }
    }
}