<div bsModal #deleteModal="bs-modal" class="modal danger-modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">


  <div class="modal-dialog modal-sm custom-modal">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <h4 class="modal-title pull-left">
          <i class="fas fa-exclamation-triangle text-danger"></i> Confirmation</h4> -->
        <button type="button" id="btnHide" class="close pull-right" aria-label="Close" (click)="hideDeleteModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="assets/img/lnr-warning.svg" alt="">
        <h1>{{ 'Shared.29' | translate }}</h1>
        <p>{{message}}</p>
        <!-- <p class="small">Deleted records can be restored if required later within the "Restore Section"</p> -->
      </div>
      <div class="modal-footer">

        <button type="button" id="btnYes" class="btn btn-danger" (click)="confirm()" name="confirm">{{ 'Shared.30' | translate }}</button>
        <button type="button" id="btnNo" aria-label="Close" class="btn btn-default" (click)="hideDeleteModal()">{{ 'Shared.31' | translate }}</button>
      </div>
    </div>
  </div>
</div>
