.danger-modal{

    .modal-body{

        text-align: center;

        img {
            width: 40px;
        }

        h1{
            font-size: 24px;
            margin-top: 6px;
            color: #000;
        }

        .small{
            color: #92a9ff;
        }
    }
}