.small-card{
    min-height: 60px;
    overflow: hidden;
    padding: 5px 10px;
    background: #FFFFFF;
    border-radius: 6px;
    width:100%;
    margin-bottom:10px;
    .image-circle{
        background: #fff;
    border: 3px solid #fff;
    border-radius: 50%;
    height: 50px;
    position: relative;
    width: 50px;
    overflow: hidden;
    float: left;
    margin-top: 2px;
    }
    .info{
        float: left;
        padding:10px;
        h5{
            margin:0;
            font-weight: bold;
            margin-bottom: 2px;
        }
        p{
            margin:0;
            font-weight: 300;
        }
        p.highlight{
                background-color: #2779ff;
    color: #fff;
    padding: 3px 8px;
    font-size: 11px;
    display: inline-block;
    border-radius: 11px;
    line-height: 18px;
    margin-top: 5px;
        }

    }
}

.timeline-inner{
        &:after{
            position: absolute;
    width: 100%;
    height: 100px;
   background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(234,237,241,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(234,237,241,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(234,237,241,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f6f7fb',GradientType=0 ); /* IE6-9 */
    bottom: 0;
    content: "";
    }
}

.timeline{
    // height:calc(100vh - 70px);
    clear:both;
    margin:10px 0;
    position:relative;

.small-card 
{
        display: flex;
    align-items: center;

.info {
    float: left;
    padding: 10px;
    width: 80%;
}
}




    .timeline-date{
        clear: both;
        margin: 15px 0;
        p{
            position:relative;
            &:before{
                background-color:$primary-color;
                color: $primary-color;
                content: "";
                width: 20%;
                height: 2px;
                position: absolute;
                left: 0;
                bottom: -9px;
                /*box-shadow: 1px 0 11px 0 rgba(1, 172, 253, 0.74);*/
            }
        }
    }
}
.card-full{
    width:100%;
&.package-info{
    .card-inner{
    .info{
        h5{
            margin-bottom: 5px;
        }
    }
}
}
    .card{

background: #FFFFFF;
        /*box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);*/
        // box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08), inset 0px 0px 0px 5px #fff, inset 0px 0px 0px 6px rgba(39, 121, 255, 0.42);
        border-radius: 4px;
        padding:15px;

    }

    .card-inner{
        background: #FFFFFF;
        /*box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);*/
         // box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08),inset 0px 0px 0px 5px #fff, inset 0px 0px 0px 6px rgba(39, 121, 255, 0.42);
        border-radius: 4px;
        min-height: 310px;
        text-align:center;
        .details{
               padding: 20px 20px 5px 20px;
               overflow: auto;
            h5{
                margin:0;
                text-transform: uppercase;
                font-weight: bold;
                color: #555;
            }
            h3{
                    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
    color: #607D8B;
            }
            h1{
                margin:5px 0;
            }

            h4{
                    font-size: 21px;
    margin: 5px 0;
            }
            span.prevoius{
                color:#989696;
            }
        }

        .small-card{
            background-color:transparent;
            box-shadow:none;
            margin-bottom: 0;

            .info{
                float: none;
                    padding-bottom: 0;
                    h5{
                        text-transform: uppercase;
                    }
                h2{
                    margin: 5px 0;
                }
            }
        }
        .chart{
            margin:10px auto;
            &.revenue{
                margin: 15px -9px;
            }
        }

    }
}

.active-border{
    box-shadow: 0px 0px 0px 2px #2779ff;
}

.danger-border{
    box-shadow: 0px 0px 0px 2px #f44336;
}
.success-border{
    box-shadow: 0px 0px 0px 2px #8bd737;
}

.ct-series-a .ct-slice-donut-solid{
    // fill: $primary-color;
}

.package-info{
    .ct-series-a .ct-slice-donut-solid{
  /* fill of the pie slieces */
  fill: $primary-color;
}
.ct-series-b .ct-slice-donut-solid{
  /* fill of the pie slieces */
  fill: #00bcd4;
}
}


.no-box-shadow{
    box-shadow: none !important;
}

.content .panel {
    border: 0px solid #ddd;
    background-color: #fff;
     /*box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);*/

}

span.small-text {
    font-size: 12px;
    color: #607D8B;
    display: inline-block;
}

.full-info-card{
 padding:15px;
        .image-circle{
                width: 100px;
                height: 100px;
                margin:auto;
                float: none;
        }
        .info{
            float: none;
            .member-type {
    border: 1px solid #FF9800;
    border-radius: 10px;
    display: inline-block;
    padding: 1px 5px;
    background-color: #FFC107;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 3px;
    font-size: 12px;
}
        }
        h4{
            position:relative;
                margin: 25px 0;
        }
    h4:after {
    content: "";
    position: absolute;
    width: 59px;
    height: 2px;
    background-color: #2779ff;
    bottom: -8px;
    left: 0;
}

.info-group{
    margin-bottom: 10px;
    label{
        margin-bottom: 2px;
        font-weight: bold;
    }
    p{
       font-weight: normal;
    border: 1px solid #eee;
    padding: 5px;
    margin-bottom: 0;
    }
}

}

.mail-timeline{
    .timeline{
            height: auto;
    }

    .small-card {
    min-height: 60px;
    overflow: hidden;
    padding: 5px 10px;
    background: #FFFFFF;
    box-shadow: none;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 5px;
    cursor: pointer;
    transition: all .2s;
    &:nth-child(even){
    background-color: aliceblue;

}
}

&:after{
    content:none;
}

.selected{
        box-shadow: inset 0px 0px 0px 2px #FFC107;
    //background-color: #ffeb3b69 !important;
}

}
.card{
        background: #FFFFFF;
    overflow: auto;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    padding: 30px 15px;
    .avatar{
        margin-bottom: 15px;
        
        img{
            width: 80px;
            min-width: 80px;
            height: 80px;
            border-radius: 100%;
            overflow: hidden;
            overflow: auto;
            display: block;
            background-color: #ccc;
            margin: auto;
        }
    }
    h5{
        margin: 0;
    font-weight: bold;
    font-size: 16px;
    }
    p{
        margin-bottom: 3px;
    }

    .custom-img{
            width: 90px;
    margin-bottom: 15px;
    }

    h4{
    
    font-weight: bold;
    font-size: 16px;
    }

}

.levels{
      max-height: 670px;
    border-radius: 5px;
    overflow-y: auto;

h4{
    font-weight: bold;
    margin-bottom: 15px;
}

    .level-wrapper{
       border: 0px solid #ccc;
    overflow: auto;
    position: relative;
    border-radius: 4px;
   
    overflow: auto;
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    padding: 4px;
    box-shadow: 1px 1px 8px #e0e0e0;
    width: 220px;
       margin:auto;
    min-height: 289px;
 
    /*box-shadow: 1px 1px 5px rgba(85, 85, 85, 0.12156862745098039);*/
        margin-bottom: 15px;
        cursor: pointer;
            /*border-top: 3px solid #FFC107;*/
        .level-title{

            font-size: 18px;
    font-weight: bold;
            span{
               
    display: block;
            }

        }

        .level-img{
           text-align: center;
            img{
                       width: 75px;
    padding: 0px;
    margin: auto;
    margin-top: 10px
            }

        }

        .level-content{
               overflow: auto;
    padding: 6px;
    text-align: center;
    padding-top: 0;
        }

        .level-footer{
               background-color: #f0f8ff;
    padding: 5px;
    overflow: auto;
    width: 100%;
    bottom: 0;
      .level-time{
        span{
           
    padding: 2px 5px;
    border-radius: 4px;
    background-color: #2779ff;
    color: #fff;
    font-size: 12px;
    }
    }
        }
    }

    .level-price{
                  overflow: auto;
    text-align: center;
    margin: auto;


    .table-data{
        font-size: 22px;
    font-weight: bold;

    small{
         font-size: 12px
    }
    }

  
   
    }

    .level-time{
        span{
           
    padding: 2px 5px;
    border-radius: 4px;
    background-color: #2779ff;
    color: #fff;
    font-size: 12px;
    }
    }

    .level-dsc{
        margin-top:5px;
            margin-top: 5px;
    max-height: 80px;
    overflow: hidden;
    }
}

.level-wrapper{
        border: 1px solid #ccc;
    overflow: auto;
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    padding: 15px;
    /*-webkit-box-shadow: 1px 1px 5px rgba(85, 85, 85, 0.121569);
    box-shadow: 1px 1px 5px rgba(85, 85, 85, 0.121569);*/
    margin-bottom: 15px;
    cursor: pointer;
    border-left: 5px solid #FFC107;
    title{
        font-size: 16px;
    }
}


.panel{
.panel-body{
    padding: 10px;
}
}

.comuni{
  
    tabset{
    ul{
           background-color: #feffff;
    padding: 7px;
    border-radius: 5px;
    margin-bottom: 15px;
    padding-bottom: 1px;
        li {
            &.active{
                    font-weight: bold;
            }
            a{

            }
        }
    }
    }
}

.flip {

  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
      height: 315px;

}
.turn {
  transform: rotateY(180deg);
}
.flip .side {
  backface-visibility: hidden;
  border-radius: 6px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
  background: #fff;
}
.flip .back {
  background: #fff;
padding: 83px 25px;
  text-align: center;
  transform: rotateY(180deg);
  h2{
      margin: 0
  }
}

.exisiting-packege .level-wrapper{
    width: auto;
    height: auto;
}

.membership-content .wizard-inner-body .tab-content {
    padding: 15px 0px !important;
    //background-color: white;
}

#btnTimeLine .membership-content .tab-content {
    // background-color: transparent;
}

.invoice .Paid:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-image:url("/assets/img/paid.png");
    background-size: 33%;
    background-repeat: no-repeat;
    margin: 5px;
    z-index: 55;
    width:100%;
    height:100%;
    background-position:center;
    opacity: .7;
}


.mem .wizard-inner-body .tab-content {
    padding: 30px 15px 15px !important;
}

.payemnt .tab-content {
    padding: 0 !important; 
}

.valu{
    font-size: 22px;
    font-weight: bold;
}