.board{
    .mail-body{

        .board-card{
            &:hover small{
                display: block;
            }
        }
            
    }
    .board-card{
     background-color: #fff;
    border: 1px solid #dddee2;
    border-radius: 4px;
    padding: 10px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    margin-bottom: 9px;
    justify-content: space-between;
    box-shadow: 1px 1px 5px rgba(85, 85, 85, 0.16862745098039217);

    span{
            
    font-size: 14px;
    display: block;
    float: left;
    margin-right: 15px;
    }
    }

    span.tag {
    padding-left: 50px;
}
small{
        position: absolute;
    right: -4px;
    top: -9px;
    display: none;
    color: red !important;
        font-size: 16px;
    
}
}

.drawer{
        position: absolute;
    background-color: aliceblue;
    top: 0;
    width: 400px;
    right: 0;
    height: 100%;
    padding: 15px;
        position: absolute;
    background-color: white;
    top: 0;
    width: 350px;
    right: -30px;
    height: 100%;
    padding: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        transform: translate3d(400px, 0, 0);
        transition: all .5s ease-in-out;

        &.slide-in{
            display: block;
        transform: translate3d(0px, 0, 0);
        }
}
.commu{
    position: relative;

    .nav-tabs {
    border-bottom: 1px solid #ddd;
    padding: 0px 15px;
    margin-bottom: 0;

    li{
         &.active > a{
            color: #2d3848;
    background-color: #fff;
     border:0;
    border-bottom: 3px solid #2779ff;
    cursor: default;
    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bold;
    }
        a{
            color: #7f8fa4;
    font-weight: bold;
    padding: 20px 15px;
    border: 0;
    border-bottom: 3px solid transparent;
   &:hover{
      background-color: transparent;
   }
        }
        
    }
}
.tab-content{
        padding: 15px;
        background-color: #f4f5f7;
}

.badge{
    display: inline-block;
    margin: 0;
    padding: .25rem .75rem;
    border-radius: 4px;
    color: #fff;
    font-size: 12px !important;
    padding: 6px 6px;
    min-width: 55px;
    font-weight: 600;
    position: absolute;
    left: -8px;
    padding: 6px 10px;
    letter-spacing: -.5px;
    text-transform: uppercase;
    &.info{
        background-color: #2ea1f8;
    }
    &.suc{
        background-color: #1bb934;
    }
    &.war{
            background-color: #fd9a18;
    }
}
}

.board .mail-body{
    min-height: 600px;
    margin: auto;
    padding: 30px;
        background-color: #f4f5f7;
}

.sample{ img{
    width: 40%;
    
}
h2{
        font-weight: bold;
        letter-spacing: -1px;
    }
}

.shadow{
    box-shadow: 0px 0px 0 2px #2779ff !important;
}

p-editor .ui-editor-container {
    background-color: white;
    padding: 5px 0;
    border-radius: 5px;
}


