.membership-content{
    margin: auto;
    margin-top: 0px;
}

.text-left{
    text-align: left;
}

.card{
    padding: 30px 24px;
    box-shadow: 0 0 10px 0 rgba(171, 171, 171, 0.2);
    display: block;

    .profile-pic{
        height: 160px;
        width: 160px;
        background-color: #fff;
        border-radius: 100%;
        overflow: hidden;
        padding: 6px;
        border: 1px solid #dce1f0;
        background-color: #fff;
    }
    h2{
        text-align: left;
        font-size: 16px;
        font-weight: 600;
        color: #000;
    }

    .form-group{
        margin-bottom: 6px;

        label{
            margin-bottom: 0;
            font-size: 12;
            color: #848484;
        }

        p{
            font-size: 16px;
            color: #000000;
        }

        
    }
}

.btn-edit{
    position: absolute;
    top: 15px;
    right: 30px;
    height: 40px;
    width: 40px;
    border-radius: 100px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.membership-level{
    margin-bottom: 16px;
    border-bottom: 4px solid #0995d1;
    padding: 24px;
    

    .heading{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-flow: row;

        img{
            width: 54px;
            height: 54px;
            margin-right: 6px;
        }

        h1{
            font-size: 18px;
            font-weight: 600;
            margin: 0;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            width: 140px;
        }
    }
    
    .mem-active{
        background-color: #79deb4;
        padding: 4px 12px;
        border-radius: 50px;
        color: #fff;
        font-weight: 600;
        position: absolute;
        top: 18px;
        right: 34px;
    }

    .mem-inactive{
        background-color: #dbdf18;
        padding: 4px 12px;
        border-radius: 50px;
        color: #fff;
        font-weight: 600;
        position: absolute;
        top: 18px;
        right: 34px;
    }

    .mem-terminated{
        background-color: #df2727;
        padding: 4px 12px;
        border-radius: 50px;
        color: #fff;
        font-weight: 600;
        position: absolute;
        top: 18px;
        right: 34px;
    }
}

.wizard .wizard-inner-body{
    background: none;
    box-shadow: none;
}

.wizard .wizard-inner-body .timeline{
    /*margin-left: -15px;
    margin-right: -15px;*/
}

.timeline{
    margin-top: 0;
    .year h2{
        margin-top: 10px;
        font-size: 24px;
    }

    .log-joined{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        padding: 10px;
        border-radius: 4px;
        box-shadow: 0 0 10px 0 rgba(171, 171, 171, 0.2);
        margin-top: 12px;

        .flex{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .icon{
            margin-right: 4px;
            img{
                height: 36px;
            }
            
        }

        p{
            margin: 0;
        }

        .org-name{
            text-transform: capitalize;
        }
    }

    .log-expired{
        border: 1px #fbbc05 solid;
        background-color: #fff6dc;
    }
}


.membership-info{

    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px dashed #ccc;
    background-color: rgba(250, 250, 250, 0.76);
    padding: 10px;
    border-radius: 4px;
    margin-top: 14px;
    margin-bottom: 15px;


    img{
        width: 48px;
        height: auto;
        margin-right: 6px;
    }
    .info{
        display: flex;
        justify-content: flex-start;
        flex-flow: column;
        align-items: left;


        h1{
            font-size: 14px;
            font-weight: 600;
            max-width: 226px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            margin: 0px;
            margin-top: 4px;
        }

        span{

        }
    }

    .mem-status{
        border-radius: 50px;
        font-weight: 600;
        text-align: left;
    }

    .mem-active{
        color: #34a853;
    }

    .mem-inactive{
        color: #fbbc05;
    }

    .mem-terminated{
        color: #fc6d6d;
    }

    .mem-Approval{
        color: #f045c5;
    }
    .mem-Rejected{
        color: #e62113;
    }
    
}

.act{

    strong{
        background-color: #8BC34A;
    padding: 8px;
    border-radius: 30px;
    margin: auto;
    }
}

.exisiting-packege .level-wrapper {
    width: 260px;
    height: auto;
    margin-top: 15px;
    padding-top: 15px;
    padding-bottom: 15px;

    h4{
        margin-bottom: 0;
            
    }

    .level-dsc{
        margin-bottom: 15px;
    }
}

.header-info{

    .tit{
     border-bottom: 1px solid #c8cfdc;
    padding-bottom: 15px;
    margin-bottom: 15px;
    }
    h4{
       margin-bottom: 0;
       margin-top: 5px;
    }

    p{
    margin-bottom: 0;
}
}


p-editor .ui-editor-container {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.level-card{
    background-color: #fff;
    padding: 16px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 4px #ccc;

    .logo{
        margin-right: 16px;
    }

    .detail{
        margin-top: 0;

        h3{
            font-weight: 600;
            font-size: 20px;
        }
    }
}

::ng-deep .wiz-info .mail-side{
    margin-top: -14px !important;
    margin-bottom: 16px;
    padding: 16px;
    padding-bottom: 70px;
    background-color: #fff;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.profile .wizard-inner-body .tab-content{
    background-color: transparent;
}