<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <section>
          <div class="relative">
            <membership-block-ui [isBlocked]="isBlocked"></membership-block-ui>
            <div class="row">
              <div class="col-md-3 p-r-0">
                <div class="main-title m-b-30">
                  <span class="svg sub-svg">
                    <img src="assets/img/Development.svg" alt="">
                  </span>
                  <div class="title-content">
                    <h4>{{'Settings.19'| translate }}
                      <span class="light"></span>
                    </h4>
                    <p>{{'Settings.20'| translate }}</p>
                  </div>
                </div>
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active">
                    <a [routerLink]="['/settings']" id="tabContactSettings" aria-controls="tabContactSettings" role="tab" data-toggle="tab">
                      <i class="fas fa-id-card m-r-5"></i> {{'Settings.21'| translate }}</a>
                  </li>
                  <li role="presentation">
                    <a [routerLink]="['/settings/organaizationsettings']" id="btnOrgSettings" aria-controls="organization" role="tab" data-toggle="tab">
                      <i class="far fa-building m-r-5"></i> {{'Settings.22'| translate }}</a>
                  </li>
                  <li role="presentation">
                    <a [routerLink]="['/settings/usersettings']" aria-controls="user" id="btnTabUserSettings" role="tab" data-toggle="tab">
                      <i class="far fa-user m-r-5"></i> {{'Settings.23'| translate }}</a>
                  </li>
                  <li role="presentation">
                    <a [routerLink]="['/settings/permissions']" aria-controls="permissions" id="btnTabPermissions" role="tab" data-toggle="tab">
                      <i class="fas fa-unlock-alt m-r-5"></i> {{'Settings.Permissions'| translate }} </a>
                  </li>
                  <li role="presentation">
                    <a [routerLink]="['/settings/customfields']" aria-controls="customfields" id="btnTabCustomfields" role="tab" data-toggle="tab">
                      <i class="fas fa-keyboard m-r-5"></i> {{'Settings.CustomFields'| translate }} </a>
                  </li>
                </ul>
              </div>
              <div class="col-md-9 b-l">

                <div class="tab-content animated fadeInDown">
                  <div role="tabpanel" class="tab-pane active" id="btnContactSettings">
                    <div class="row">

                      <div class="col-md-12">
                        <div class="tab-top-title">
                          <h4 class="innter-title">{{'Settings.48'| translate }}</h4>

                        </div>
                        <div class="wiz-info">
                          <!-- <p><i class="far fa-question-circle m-r-5"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium placeat cum facere iusto odio, veritatis neque quidem atque. Sapiente nemo.</p> -->
                          <form class="" [formGroup]="categorieForm" novalidate>
                            <fieldset>
                              <!-- Text input-->
                              <div class="custom-well">
                                <!-- <div class="form-group hidden">
                                <label class="control-label" for="Name">{{'Settings.25'| translate }}</label>
                                <div class="col-md-8">
                                  <input id="txtCatName1" name="Name" formControlName="Name" placeholder="Category Name" class="form-control input-md" type="text">
                                  <div>
                                  <div *ngIf="categorieForm.controls['Name'].errors && !categorieForm.controls['Name'].pristine" class="error-msg">
                                    <div [hidden]="!categorieForm.controls['Name'].errors.required">{{'Settings.26'| translate }}</div>
                                    <div [hidden]="!categorieForm.controls['Name'].errors.maxlength">{{'Settings.27'| translate }}</div>
                                  </div>
                                </div>
                                </div>
                              </div>-->
                                <!-- <div class="form-group hidden">
                                <label class="col-md-4 control-label" for="send"></label>
                                <div class="col-md-8 text-right">
                                  <button id="btnSendCategory" name="sendcategory" *ngIf="Isedit" (click)="addcategory()" class="btn btn-primary">{{'Settings.28'| translate }}</button>
                                  <button id="btnUpdateCategory" name="updateCategory" *ngIf="!Isedit" (click)="updateCategory()" class="btn btn-primary">{{'Settings.29'| translate }}</button>
                                  <button id="btnCancelCategory" name="CancelCategory" (click)="CancelCategory()" class="btn btn-primary">{{'Settings.30'| translate }}</button>
                                </div>
                              </div>-->
                                <div class="input-group" [ngClass]="categorieForm.controls['Name'].errors && !categorieForm.controls['Name'].pristine ? 'is-error cat':''">
                                  <input id="txtCatName" name="Name" formControlName="Name" placeholder="Category Name" class="form-control input-md" type="text">
                                  <div class="input-group-btn">
                                    <button id="btnSendCategory" name="sendcategory" *ngIf="Isedit" (click)="addcategory()" class="btn btn-primary">
                                      <i class="fas fa-plus m-r-5"></i> {{'Settings.28'| translate }}</button>
                                    <button id="btnUpdateCategory" name="updateCategory" *ngIf="!Isedit" (click)="updateCategory()" class="btn btn-primary">{{'Settings.29'| translate }}</button>
                                    <button id="btnCancelCategory" name="CancelCategory" (click)="CancelCategory()" class="btn btn-danger">
                                      <i class="fas fa-times"></i>
                                    </button>
                                  </div>
                                  <div *ngIf="categorieForm.controls['Name'].errors && !categorieForm.controls['Name'].pristine" class="error-msg animated shake">
                                    <div [hidden]="!categorieForm.controls['Name'].errors.required">{{'Settings.26'| translate }}</div>
                                    <div [hidden]="!categorieForm.controls['Name'].errors.maxlength">{{'Settings.27'| translate }}</div>
                                  </div>
                                </div>
                              </div>
                            </fieldset>
                          </form>
                          <div class="">
                            <div class="table-container table-responsive">
                              <table class="table table-filter table-striped">
                                <thead>
                                  <tr>
                                    <th>#</th>
                                    <th>{{'Settings.31'| translate }}</th>
                                    <th class="text-right">{{'Settings.32'| translate }}</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let categorieobj of categorieList; let i = index">
                                    <td>{{i + 1}}</td>
                                    <td>{{categorieobj.name}}</td>
                                    <td class="text-right">
                                      <button type="button" id="btnUpdate" class="btn btn-default btn-sm" data-target="pendiente" (click)="editcategory(categorieobj.id, categorieobj.name)">
                                        <i class="fa fa-edit m-r-5"></i> {{'Settings.49'| translate }}
                                      </button>
                                      <button type="button" id="btnDelete" class="btn btn-default btn-sm" (click)="deleteModal.showDeleteModal()" (click)="deletecategoryId(categorieobj.id)"
                                        data-target="cancelado">
                                        <i class="fa fa-times m-r-5" aria-hidden="true"></i> {{'Settings.50'| translate }}
                                      </button>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div role="tabpanel" class="tab-pane" id="btnOrganization">
                    <membership-account-settings></membership-account-settings>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="btnUser">
                    <membership-user-settings></membership-user-settings>
                  </div> -->
                </div>
              </div>


            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<membership-delete-modal #deleteModal [message]='"Are you sure you want to delete this Category?"' (delete)="deletecategory()"></membership-delete-modal>