<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <section>
          <div class="relative">
            <membership-block-ui [isBlocked]="isBlocked"></membership-block-ui>

            <div class="row">
              <div class="col-md-3 p-r-0">

                <div class="main-title m-b-30">
                  <span class="svg sub-svg">
            <img src="assets/img/Development.svg" alt="">
          </span>
                  <div class="title-content">
                    <h4>{{'Settings.19'| translate }}
                      <span class="light"></span>
                    </h4>
                    <p>{{'Settings.20'| translate }}</p>
                  </div>
                </div>

                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation">
                    <a [routerLink]="['/settings']" id="tabContactSettings" aria-controls="tabContactSettings" role="tab" data-toggle="tab">
                      <i class="fas fa-id-card m-r-5"></i> {{'Settings.21'| translate }}</a>
                  </li>
                  <li role="presentation" class="active">
                    <a [routerLink]="['/settings/organaizationsettings']" id="btnOrgSettings" aria-controls="organization" role="tab" data-toggle="tab">
                      <i class="far fa-building m-r-5"></i> {{'Settings.22'| translate }}</a>
                  </li>
                  <li role="presentation">
                    <a [routerLink]="['/settings/usersettings']" aria-controls="user" id="btnTabUserSettings" role="tab" data-toggle="tab">
                      <i class="far fa-user m-r-5"></i> {{'Settings.23'| translate }}</a>
                  </li>
                  <li role="presentation">
                    <a [routerLink]="['/settings/permissions']" aria-controls="permissions" id="btnTabPermissions" role="tab" data-toggle="tab">
                      <i class="fas fa-unlock-alt m-r-5"></i> {{'Settings.Permissions'| translate }} </a>
                  </li>
                  <li role="presentation">
                    <a [routerLink]="['/settings/customfields']" aria-controls="customfields" id="btnTabCustomfields" role="tab" data-toggle="tab">
                      <i class="fas fa-keyboard m-r-5"></i> {{'Settings.CustomFields'| translate }} </a>
                  </li>
                </ul>
              </div>

              <div class="col-md-9 b-l">

                <div class="tab-content">

                  <form [formGroup]="tenantInfoForm" novalidate>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="tab-top-title">
                          <h4 class="innter-title">
                            {{'Settings.3'| translate }}</h4>
                        </div>
                        <div class="row">
                          <div class="col-md-3">
                            <div class="org-card m-b-15">
                              <label class="fileContainer custom-file">
                            <i class="fas fa-camera-retro"></i>
                            <input type="file" accept="image/*" id="fileProfileImage" id="BtnImage" (change)="fileUpload($event)" />
                          </label>
                              <div class="org-img">
                                <img class="img img-responsive" [src]="imageLogoSource">
                              </div>

                            </div>



                          </div>
                          <div class="col-md-9">
                            <h4 class="inner-sub">{{'Organaization.Organaization Logo'| translate }}</h4>
                            <p>{{'Organaization.A square Image 300x300px recommended'| translate }}</p>
                            <button id="btnUpdateOrganization" class="btn btn-default" id="BtnImageUpload" type="button" (click)="updateOrganization()">
                          <i class="fas fa-cloud-upload-alt m-r-5"></i> {{'Settings.5'| translate }}
                        </button>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-12">
                        <hr>
                        <h4 class="inner-sub-inner">{{'Organaization.Organization Genaral Info'| translate }}</h4>
                        <div class="row">

                          <div class="col-md-6">
                            <div class="form-group" [ngClass]="(tenantInfoForm.get('email').errors && !tenantInfoForm.get('email').pristine) ? 'is-error':''">
                              <label for="tenant-email">{{'Settings.7'| translate }}</label>
                              <input type="email" class="form-control" id="txtEmail" name="email" formControlName="email">
                              <div *ngIf="tenantInfoForm.get('email').errors && !tenantInfoForm.get('email').pristine" class="error-msg animated shake">
                                <span [hidden]="!tenantInfoForm.get('email').errors.patternInvalid">
                                  <i class="fas fa-info-circle m-r-5"></i>{{'Settings.8'| translate }}</span>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="country">{{'Settings.9'| translate }}</label>
                              <select id="ddCountry" class="form-control" formControlName="country" (change)="countryCodechange($event.target.selectedOptions[0])">
                                <option *ngFor="let country of countries" [value]="country.value">{{country.text}}</option>
                              </select>
                            </div>
                          </div>

                          <div class="col-md-12" [ngClass]="tenantInfoForm.get('address').valid || (tenantInfoForm.get('address').pristine) && !isCreateTenantInfoFormSubmitted ? '':'is-error'">
                            <div class="form-group">
                              <label for="tenant-address">{{'Settings.13'| translate }}</label>
                              <input type="text" class="form-control" id="txtAddress" name="address" formControlName="address">
                              <div [hidden]="tenantInfoForm.get('address').valid || (tenantInfoForm.get('address').pristine) && !isCreateTenantInfoFormSubmitted"
                                class="error-msg animated shake">

                                <span *ngIf="tenantInfoForm.get('address').errors && tenantInfoForm.get('address').errors.required">
                                  {{'Members.63'| translate }}
                                 
                                </span>
                                <span *ngIf="tenantInfoForm.get('address').errors && tenantInfoForm.get('address').errors.patternInvalid">
                                  {{'Members.64'| translate }}
                                </span>
                              </div>
                            </div>
                          </div>


                          <div class="col-md-6">


                            <div class="form-group">
                              <label for="tenant-city">{{'Settings.14'| translate }}</label>
                              <input type="text" class="form-control" id="txtCity" name="city" formControlName="city">
                            </div>

                            <div class="form-group">
                              <label for="tenant-zip">{{'Settings.16'| translate }}</label>
                              <input type="text" class="form-control" id="txtZip" name="zip" formControlName="zip">
                            </div>


                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="tenant-state">{{'Settings.15'| translate }}</label>
                              <input type="text" class="form-control" id="txtState" name="state" formControlName="state">
                            </div>



                          </div>


                        </div>

                        <hr>
                        <h4 class="inner-sub-inner">{{'Organaization.Organization Contact Info'| translate }}</h4>
                        <div class="row">

                          <div class="col-md-6">
                            <div class="form-group" [ngClass]="tenantInfoForm.get('phone').valid || (tenantInfoForm.get('phone').pristine) ? '':'is-error'">
                              <label for="tenant-phone">{{'Settings.10'| translate }}</label>
                              <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">+{{countryCode}}</span>
                                <input type="text" class="form-control" id="txtPhone" name="phone" formControlName="phone">
                               
                              </div>
                               <div [hidden]="tenantInfoForm.get('phone').valid || (tenantInfoForm.get('phone').pristine)" class="error-msg animated shake">
                                  <span *ngIf="tenantInfoForm.get('phone').errors && tenantInfoForm.get('phone').errors.patternInvalid">
                                    {{'Settings.11'| translate }}
                                    <br>
                                  </span>
                                </div>
                            </div>
                          </div>

                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="tenant-fax">{{'Settings.12'| translate }}</label>
                              <input type="text" class="form-control" id="txtFax" name="fax" formControlName="fax">
                            </div>
                          </div>
                        </div>
                        <hr>
                        <h4 class="inner-sub-inner">{{'Organaization.Other Settings'| translate }}</h4>
                        <div class="row">


                          <div class="col-md-6">

                            <div class="form-group">
                              <label for="country">{{'Settings.43'| translate }}</label>
                              <select id="ddlanguage" class="form-control" formControlName="language" (change)="changelanguage($event.target.value)">
                                <option [value]="0" disabled [selected]="true"> {{'Settings.42'| translate }} </option>
                                <option *ngFor="let lan of languages" [value]="lan.value">{{lan.text}}</option>
                              </select>
                            </div>

                            <div class="form-group">
                              <label for="country">{{'Settings.44'| translate }}</label>
                              <select id="ddcurrency" class="form-control" formControlName="currency">
                                <option [value]="0" disabled [selected]="true"> {{'Settings.45'| translate }} </option>
                                <option *ngFor="let cur of currencys" [value]="cur.value">{{cur.text}}</option>
                              </select>
                            </div>


                          </div>

                          <div class="col-md-6">
                            <div class="form-group" [ngClass]="tenantInfoForm.get('prefix').valid || (tenantInfoForm.get('prefix').pristine) && !isCreateTenantInfoFormSubmitted ? '':'is-error'">
                              <label for="tenant-prefix">{{'Settings.46'| translate }}</label>
                              <input type="text" class="form-control" id="txtprefix" name="prefix" formControlName="prefix">
                              <div [hidden]="tenantInfoForm.get('prefix').valid || (tenantInfoForm.get('prefix').pristine) && !isCreateTenantInfoFormSubmitted"
                                class="error-msg animated shake">

                                <span *ngIf="tenantInfoForm.get('prefix').errors && tenantInfoForm.get('prefix').errors.required">
                                  {{'Settings.51'| translate }}
                                  <br>
                                </span>
                                <span *ngIf="tenantInfoForm.get('prefix').errors && tenantInfoForm.get('prefix').errors.patternInvalid">
                                  {{'Members.64'| translate }}
                                </span>
                              </div>
                            </div>

                          </div>
                          <div class="col-md-12">
                            <div class="pull-right">
                              <button class="btn  btn-block btn-primary" id="btnSaveTenantInfo" type="button" (click)="saveTenantInfo()" *ngIf="!isLoaded">{{'Settings.17'| translate }}</button>
                              <button class="btn  btn-block btn-primary" id="btnUpdateTenantInfo" type="button" (click)="updateTenantInfo()" *ngIf="isLoaded">{{'Settings.18'| translate }}</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>