.innter-title{
    font-weight: bold;
    margin-bottom: 20px;
}

.org-card{
        background-color: rgba(233, 235, 238, 0.6901960784313725);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    position: relative;
    .org-img{
            width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;

    img{
        width: 100%;
    height: 100%;
    }
    }
    h5{

      font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    }
}

.up{
    border: 1px solid;
    width: 30px;
    height: 30px;
    overflow: hidden;
    input{
        visibility: hidden;
    }
}

.fileContainer {
    display: flex;
        align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 9px 12px;
    font-size: 14px;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-weight: normal;
    color: #384253;
    cursor: pointer;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    padding: 9px;
    position: absolute;
    right: 9px;
}
.nav-tabs > li {
    float: none;
    margin: 0;
    margin-bottom: 2px;
    a{
            margin-right: 2px;
    line-height: 1.42857143;
    border: 0;
    border-radius: 4px;
    color: #555;
    &:hover{
        background-color: transparent;
    }
    }
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
      color: #6c6dfa;
    background-color: #fff;
    border: 0;
    border-bottom-color: transparent;
    cursor: default;
    border-radius: 0px;
    margin-right: 0;
    border-right: 3px solid;
    font-weight: bold;
}

.nav-tabs{
    border: 0;
}

.tab-content{
        background-color: #fff;
    padding: 15px;
    border-radius: 4px;
}

.innter-title{
   font-weight: bold;
    border-bottom: 2px solid #f0f1f3;
    padding-bottom: 12px;
    margin-top: 15px;
}
.main-title .sub-svg {
    width: 50px;
    height: auto;
}

.custom-well{
    background-color: rgba(233, 235, 238, 0.63);;
    padding: 15px;
    margin: 20px 0;
}

.inner-sub-inner{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 30px;
}

.content {
    padding: 30px 15px;
    margin: auto;
    max-width: 1340px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
}