<!-- <footer class="footer">
  <div class="container-fluid">
      
      <p class="copyright pull-right">
          ©
          <script>
          document.write(new Date().getFullYear())
          </script>
          <a href="">{{'Layout.1'| translate }}</a>
      </p>
  </div>
</footer> -->
