.comu{
    background: -webkit-gradient(linear, left top, left bottom, from(#e7eaf3), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(to right, #e7eaf3 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7eaf3', endColorstr='#00ffffff',GradientType=0 );
    padding: 16px;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: -15px;
    margin-bottom: 18px;

        img{
            width: 80px;
            margin-right: 10px;
        }

        span{
            display: flex;
            flex-flow: column;
            justify-content: flex-start;
            align-items: left;

            h4{
                font-weight: 600;
                margin-bottom: 2px;
                
            }
        }
   
}

ul.comm-feat{

    padding: 0;

    li{
        list-style: none;
        background-color: #ffffff;
        border-radius: 4px;
        height: 182px;
         width: 148px;
        margin: 8px;
        margin-right: 0;
        display: inline-block;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        cursor: pointer;
        border: 1px solid #cdcdcd;

        .preview{
            height: 126px;
            display: table;
            width: 100%;
        }

        .info{
            font-size: 14px;
            color: #000000;
            display: block;
            text-align: center;
            font-weight: 400;
            padding: 6px;
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            height: auto;
        }

        &  img{
            display: table-cell;
            height: 100%;
            width: 60px;
            vertical-align: middle;
            margin: auto;
        }
    }
}


.email-templates{


    .heading{
        font-size: 16px;
        font-weight: 600;
        margin-left: 8px;
        margin-bottom: 2px;
    }    

    .p{
        margin-left: 8px;
    } 
}




.comuni{
    margin-top: 16px;
}

.comuni .modal{
    background-color: #ffffff;
}


