<div class="content animated fadeIn">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="main-title">
          <span class="svg sub-svg ">
              <img src="../../../../assets/img/Proposal.svg" alt="">
            </span>
          <div class="title-content">
            <h4> {{groupHeading}} - {{grpname}} </h4>
            <p>{{groupsubHeading}}</p>
          </div>

          <div class="btn-group pull-right" role="group" aria-label="...">
            <form action="members.html">
              <button type="button" name="send" class="btn btn-danger m-r-5" *ngIf="this.groupId && this.groupId != 0" (click)="deleteModal.showDeleteModal()">
                  <img src="../../../../assets/img/lnr-trash-white.svg">
                  <p>{{'Members.Archive'| translate }}</p>
              </button>
              <button type="submit" name="send" class="btn btn-default pull-right" [routerLink]="['/members/memberGroup']">
                  <img src="../../../../assets/img/lnr-arrow-left.svg">
                  <p>{{'Members.Back'| translate }}</p></button>
            </form>
          </div>

        </div>
      </div>
      <section class="container-fluid">
        <div class="row">
          <div class="col-md-8">
            <div class="wizard animated bounceInDown relative">
              <div class="wizard-inner-body">
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active">
                    <a href="#home" aria-controls="home" role="tab" data-toggle="tab">{{'Members.116'| translate }}</a>
                  </li>
                  <li *ngIf="groupId != 0" role="presentation">
                    <a href="#btnMessages" aria-controls="btnMessages" role="tab" data-toggle="tab">{{'Members.1'| translate }}</a>
                  </li>
                  <!--<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Work Information</a></li>
                                                <li role="presentation"><a href="#mem-info" aria-controls="mem-info" role="tab" data-toggle="tab">Membership Information</a></li>-->
                </ul>

                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="home">
                    <div class="row">
                        <membership-block-ui [isBlocked]="isBlocked"></membership-block-ui>
                      <div class="">
                        <form class="" [formGroup]="groupForm" novalidate>
                          <div class="col-md-12">

                            <div class="form-group">
                              <label for=""> {{'Members.11'| translate }}</label>
                              <input id="txtName" placeholder="Name" class="form-control input-md" formControlName="name" type="text">
                              <div [hidden]="groupForm.get('name').valid || (groupForm.get('name').pristine && !isGroupFormSubmitted)" class="error-msg">

                                <small *ngIf="groupForm.get('name').errors && groupForm.get('name').errors.required">
                                  {{'Members.117'| translate }}
                                    <br>
                                  </small>

                                <small *ngIf="groupForm.get('name').errors && groupForm.get('name').errors.maxlength">
                                  {{'Members.118'| translate }}
                                  </small>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="">{{'Members.111'| translate }}</label>
                              <textarea id="txtDescription" placeholder="Description" rows="3" class="form-control input-md" formControlName="description"
                                type="text"></textarea>
                              <div [hidden]="groupForm.get('description').valid || (groupForm.get('description').pristine && !isGroupFormSubmitted)" class="error-msg">
                                <small *ngIf="groupForm.get('description').errors && groupForm.get('description').errors.maxlength">
                                  {{'Members.119'| translate }}
                                  </small>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group text-right">
                              <button class="btn btn-primary" id="btnSaveGroup" (click)="addGroup()" *ngIf="groupId === 0">{{'Members.120'| translate }}</button>
                              <button id="btnUpdateGroup" name="updateGroup" class="btn btn-primary" (click)="updateGroup()" *ngIf="this.groupId && this.groupId != 0">{{'Members.53'| translate }} {{'Members.202'| translate }}</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane " id="btnMessages">
                    <membership-member-group-member></membership-member-group-member>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </section>


    </div>
  </div>
</div>





<membership-delete-modal #deleteModal [message]='"Are you sure you want to delete this group?"' (delete)="archiveGroup()"></membership-delete-modal>