ul.template-files{
    padding: 0;
    list-style: none;
    margin: 0;
}

ul.template-files li{
    display: inline-block;
}

ul.template-files li .file{
    width: 150px;
    height: 200px;
    border-radius: 4px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    flex-flow: column;
    background-image: url('/assets/img/Proposal.svg');
    background-repeat: no-repeat;
    background-size: 63%;
    background-position: 51% 30%;
}

ul.template-files li .file .info{
    display: block;
    border-top: 1px solid #cccc;
    padding: 4px;
    font-size: 14px;
    margin-top: 148px;
    text-align: center;
}

ul.template-files li .file .info .date{
   font-size: 12px;
   color: #ccc;
}