.signup-logo{
    text-align: center;
    .sub-svg{
            width: 80px;
    height: 80px;
    display: block;
    margin: auto;

    }
}

a{
    cursor: pointer;
}

.on-board{
    height: 100%;
}

.figure{
    height: 100%;
    background-image: url('/assets/img/bg_2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 10%;

    .header{
        position: absolute;
        top: 24px;

        .app-logo{
        font-family: 'Clicker Script', cursive;
        color: #fff;
        font-size: 44px;
        font-weight: bold;
        display: block;
        margin: auto;
        text-decoration: none;
        }
    }

    .content{
        position: absolute;
        max-width: 506px;

        h1{
            margin: 0;
            font-size: 44px;
            color: #ffffff;
            font-weight: 400;
            line-height: 1em;
        }

        p{
            margin: 0;
            margin-top: 10px;
            font-size: 20px;
            color: #ffffff; 
            line-height: 1.4em;           
        }

        a{
            cursor: pointer;
        }
    }

    .footer{
        position: absolute;
        bottom: 15px;

        ul.social{
            padding: 0;
            margin: 0;

            li{
                list-style: none;
                font-size: 24px;
                display: inline-block;
                text-decoration: none;
                color: #ffffff;
                margin-right: 20px;
            }
        }
    }

   
}

.figure::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(71, 73, 192, 0.82);
    padding: 0;
    height: 100%;
    z-index: 0;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .inner-form{
        max-width: 400px;
        width: 100%;
    }

    p{
        font-size: 16px;
    }

    .signup-logo{
        width: 86px;
    }

    h1.logo{
        font-weight: 600;
        margin: 0;
        font-size: 30px;
        margin-bottom: 4px;
    }

    .app-logo{
       font-family: 'Pacifico', cursive;
        /*font-weight: bold;*/
        margin: auto;
        text-decoration: none;
    }

    
    .footer{
        position: absolute;
        bottom: 32px;
        padding: 0;

        ul.info{
            padding: 0;
            margin: 0;

            li{
                list-style: none;
                font-size: 14px;
                display: inline-block;
                text-decoration: none;
                color: #000000;
                margin-right: 20px;
            }
        }
    }

}



@media(max-width:768px){


.on-board{

   height: 70%;

.figure{
    height: 100%;
    background-image: url('/assets/img/bg_2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 30px;

   

    .content{
        position: absolute;
        max-width: 80%;

        h1{
            margin: 0;
            font-size: 26px;
           
        }

        p{
          
            font-size: 16px;
            color: #ffffff; 
            line-height: 1.4em;           
        }

        a{
            cursor: pointer;
        }
    }


   
}



.form{
   
    align-items: flex-start;
    height: 100%;
    padding: 30px;

   
    p{
        font-size: 14px;
    }

    .signup-logo{
        width: 86px;
    }

   


}


}

}

.slidingVertical span{
       color: #a7e24b;
    font-weight: bold;
}


@keyframes topToBottom{
   
0% {
    opacity: 0;
}

5% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
}

10% {
    opacity: 1;
    -webkit-transform: translateY(0px);
}

25% {
    opacity: 1;
    -webkit-transform: translateY(0px);
}

30% {
    opacity: 0;
    -webkit-transform: translateY(20px);
}

80% {
    opacity: 0;
}

100% {
    opacity: 0;
}
}