.innter-title{
    font-weight: bold;
    margin-bottom: 20px;
}

.org-card{
        background-color: rgba(233, 235, 238, 0.6901960784313725);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    position: relative;
    .org-img{
            width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;

    img{
        width: 100%;
    height: 100%;
    }
    }
    h5{

      font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    }
}

.up{
    border: 1px solid;
    width: 30px;
    height: 30px;
    overflow: hidden;
    input{
        visibility: hidden;
    }
}

.fileContainer {
    display: flex;
        align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 9px 12px;
    font-size: 14px;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-weight: normal;
    color: #384253;
    cursor: pointer;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    padding: 9px;
    position: absolute;
    right: 9px;
}
.nav-tabs > li {
    float: none;
    margin: 0;
    margin-bottom: 2px;
    a{
            margin-right: 2px;
    line-height: 1.42857143;
    border: 0;
    border-radius: 4px;
    color: #555;
    &:hover{
        background-color: transparent;
    }
    }
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
      color: #6c6dfa;
    background-color: #fff;
    border: 0;
    border-bottom-color: transparent;
    cursor: default;
    border-radius: 0px;
    margin-right: 0;
    border-right: 3px solid;
    font-weight: bold;
}

.nav-tabs{
    border: 0;
}

.tab-content{
        background-color: #fff;
    padding: 15px;
    border-radius: 4px;
}

.innter-title{
   font-weight: bold;
    border-bottom: 2px solid #f0f1f3;
    padding-bottom: 12px;
    margin-top: 15px;
}
.main-title .sub-svg {
    width: 50px;
    height: auto;
}

.custom-well{
    /*background-color: rgba(233, 235, 238, 0.63);;
    padding: 15px;*/
    margin: 20px 0;
}

.inner-sub-inner{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 30px;
}

.content {
    padding: 30px 15px;
    margin: auto;
    max-width: 1340px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.b-l{
    overflow:auto;
    min-height: 100vh;
}

.list-group-item{
        position: relative;
    display: block;
    padding: 10px 16px;
    margin-bottom: 8px;
    background-color: rgba(235, 237, 245, 0.45098039215686275);
    border: solid #ffffff;
    border-radius: 4px;
    font-weight: bold;
    box-shadow: 0px 0px 0 1px rgba(109, 112, 249, 0.1803921568627451);
    cursor: pointer;
}
.list-group{
    margin-bottom: 5px;
}

.tab-head-title{
    font-weight: bold;
    padding: 10px;
   border-radius: 5px 5px 0 0;
    background-color: #ebedf5;
}

.field-dragger{
        padding: 25px;
    border: 1px solid #e5e5fe;
    border-radius: 0 0 4px 4px;
    margin-bottom: 20px;
    border-top:0;

}




.switch_box{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	           justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
            float: left;
}

/* Switch 1 Specific Styles Start */

.box_1{
	background:transparent;
        margin-right: 15px;
    font-weight: bold;
}

input[type="checkbox"].switch_1{
	font-size: 14px;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	width: 3em;
	height: 1.5em;
	background: #ddd;
	border-radius: 3em;
	position: relative;
    margin-top: 0;
	cursor: pointer;
	outline: none;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
  }
  
  input[type="checkbox"].switch_1:checked{
	background: #6c6ef9;
  }
  
  input[type="checkbox"].switch_1:after{
	position: absolute;
	content: "";
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	background: #fff;
	-webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
	        box-shadow: 0 0 .25em rgba(0,0,0,.3);
	-webkit-transform: scale(.7);
	        transform: scale(.7);
	left: 0;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
  }
  
  input[type="checkbox"].switch_1:checked:after{
	left: calc(100% - 1.5em);
  }

.add-new-field{
        text-align: right;
    margin-top: 15px;
}


.modal-dialog {
    /*position: fixed;
    right: 0;
    top: 25px;
    width: 375px;*/

    .modal-content {    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    border-radius: 0;
    width: 390px;
    background-color: #fff;
    border: 0px solid #ddd;
    border-radius: 0;
    border-top-left-radius: 4px;
     border-bottom-left-radius: 4px;
    /*box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);*/
    background-clip: padding-box;
    outline: 0;
    border-radius: 0px;
}
}

.type{
        padding: 2px 6px;
    font-size: 12px;
    border-radius: 3px;
    color: #ffffff;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: normal;
    background-color: #6c6ef9;
}

.multiele{
        border: 1px solid #cccccc;
    padding: 5px;
    border-radius: 4px;


margin-bottom: 15px;

.add-ele{
        padding: 6px;
    background-color: #EEEEEE;
}

.elements{
           overflow: auto;
    padding: 5px;

    span{
        display: block;
    float: left;
    }

    .actions{
        float: right;
    }
}

}