<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <section>
          <div class="relative">
            <div class="m-b-15 row">
              <div class="col-md-3 p-r-0">
                <div class="main-title m-b-30">
                  <span class="svg sub-svg">
                    <img src="assets/img/Development.svg" alt="">
                  </span>
                  <div class="title-content">
                    <h4>{{'Settings.19'| translate }}
                      <span class="light"></span>
                    </h4>
                    <p>{{'Settings.20'| translate }}</p>
                  </div>
                </div>
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation">
                    <a [routerLink]="['/settings']" id="tabContactSettings" aria-controls="tabContactSettings" role="tab" data-toggle="tab">
                      <i class="fas fa-id-card m-r-5"></i> {{'Settings.21'| translate }}</a>
                  </li>
                  <li role="presentation">
                    <a [routerLink]="['/settings/organaizationsettings']" id="btnOrgSettings" aria-controls="organization" role="tab" data-toggle="tab">
                      <i class="far fa-building m-r-5"></i> {{'Settings.22'| translate }}</a>
                  </li>
                  <li role="presentation">
                    <a [routerLink]="['/settings/usersettings']" aria-controls="user" id="btnTabUserSettings" role="tab" data-toggle="tab">
                      <i class="far fa-user m-r-5"></i> {{'Settings.23'| translate }}</a>
                  </li>
                  <li role="presentation">
                    <a [routerLink]="['/settings/permissions']" aria-controls="permissions" id="btnTabPermissions" role="tab" data-toggle="tab">
                      <i class="fas fa-unlock-alt m-r-5"></i> {{'Settings.Permissions'| translate }} </a>
                  </li>
                  <li role="presentation" class="active">
                    <a [routerLink]="['/settings/customfields']" aria-controls="customfields" id="btnTabCustomfields" role="tab" data-toggle="tab">
                      <i class="fas fa-keyboard m-r-5"></i> {{'Settings.CustomFields'| translate }} </a>
                  </li>
                </ul>
              </div>
              <div class="col-md-9 b-l">
                <div class="tab-content">
                  <membership-block-ui [isBlocked]="isBlocked"></membership-block-ui>

                  <div class="tab-top-title">
                    <h4 class="innter-title">
                      Custom Fields</h4>
                  </div>
                  <p>
                    Custom Fields allow the collection of almost any type of data you want. Create new custom fields to use on your membership
                    forms or event tickets and contact profiles.
                  </p>

                  <div class="wizard-inner-body">
                    <tabset #staticTabs>

                      <tab id="btnIndividual" class="animated fadeInUp" (select)="getTabFields(memberType.member)">
                        <ng-template tabHeading>
                          <i class="far fa-user"></i> INDIVIDUAL
                        </ng-template>

                        <div dragula="bag-tab-data">
                          <div *ngFor="let tabData of customTabData">
                            <div class="tab-head-title">

                              <div class="switch_box box_1">
                                <input type="checkbox" class="switch_1" [checked]="tabData.isVisible" disabled>
                              </div>
                              <span class="bagtabdata">{{tabData.displayName}}</span>

                              <a class="pull-right" (click)="editTab(tabData.tabId)">
                                <i class="fas fa-edit"></i>
                              </a>
                            </div>
                            <div class="field-dragger">
                              <ul dragula="bag-tabfield-data" *ngFor="let field of tabData.tabsFields" class="list-group">
                                <li class="list-group-item">
                                  <i class="fas fa-bars m-r-5 text-primary"></i><span class="dp-name">{{field.displayName}}</span><span class="type">{{field.dataType|dataType}}</span>
                                  <span class="pull-right">
                                    <a class="btn btn-xs btn-default" *ngIf="!field.isSystemField" (click)="editField(field.id)">
                                      <i class="fas fa-edit m-r-5"></i> Edit
                                    </a>
                                    <a class="m-r-5 btn btn-xs btn-default" *ngIf="!field.isSystemField" (click)="deleteModal.showDeleteModal()">
                                      <i class="far fa-trash-alt text-danger m-r-5"></i> Remove
                                    </a>

                                  </span>
                                </li>
                                <membership-delete-modal #deleteModal [message]='"Are you sure you want to delete this field?"' (delete)="deleteField(field.id)"></membership-delete-modal>
                              </ul>

                              <ul class="list-group add-new-field">
                                <button (click)="showFieldModal(tabData.tabId)" class="btn btn-default">
                                  <i class="fas fa-plus m-r-5"></i>Add Field</button>
                              </ul>
                            </div>

                          </div>
                        </div>
                        <div class="text-right">
                          <button (click)="addNewTabModal.show()" class="btn btn-default">
                            <i class="fas fa-plus m-r-5"></i>New Tab</button>

                          <button (click)="saveChanges()" class="btn btn-primary">
                            Save Changes</button>
                        </div>
                      </tab>

                      <tab id="btnOrganization" class="animated fadeInUp" (select)="getTabFields(memberType.organization)">
                        <ng-template tabHeading>
                          <i class="far fa-building"></i> ORGANIZATION
                        </ng-template>

                        <div dragula="bag-tab-data">
                          <div *ngFor="let tabData of customTabData">
                            <div class="tab-head-title">

                              <div class="switch_box box_1">
                                <input type="checkbox" class="switch_1" [checked]="tabData.isVisible" disabled>
                              </div>

                              <span class="bagtabdata">{{tabData.displayName}}</span>
                              <a class="pull-right" (click)="editTab(tabData.tabId)">
                                <i class="fas fa-edit"></i>
                              </a>
                            </div>
                            <div class="field-dragger">
                              <ul dragula="bag-tabfield-data" *ngFor="let field of tabData.tabsFields" class="list-group">
                                <li class="list-group-item">
                                  <i class="fas fa-bars m-r-5 text-primary"></i><span class="dp-name">{{field.displayName}}</span><span class="type">{{field.dataType|dataType}}</span>
                                  
                                  <span class="pull-right">

                                    <a class="btn btn-xs btn-default" *ngIf="!field.isSystemField" (click)="editField(field.id)" title="Edit">
                                      <i class="fas fa-edit m-r-5"></i>Edit
                                    </a>
                                    <a class="btn m-r-5 btn-xs btn-default" *ngIf="!field.isSystemField" (click)="deleteModal.showDeleteModal()" title="Remove">
                                      <i class="far fa-trash-alt text-danger m-r-5"></i>Remove
                                    </a>
                                  </span>
                                </li>
                                <membership-delete-modal #deleteModal [message]='"Are you sure you want to delete this field?"' (delete)="deleteField(field.id)"></membership-delete-modal>
                              </ul>
                              <ul class="list-group add-new-field">
                                <button (click)="showFieldModal(tabData.tabId)" class="btn btn-default">
                                  <i class="fas fa-plus m-r-5"></i>Add Field</button>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="text-right">
                          <button (click)="addNewTabModal.show()" class="btn btn-default">
                            <i class="fas fa-plus m-r-5"></i>New Tab</button>

                          <button (click)="saveChanges()" class="btn btn-primary">
                            Save Changes</button>
                        </div>
                      </tab>
                    </tabset>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<div bsModal #addNewFieldModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md side-div">
    <div class="modal-content wobble" style="max-width:unset">

      <div class="modal-body">
        <button type="button" id="btnHide" class="close pull-right" aria-label="Close" (click)="hideAddFieldModal()">
          <span aria-hidden="true">&times;</span>
        </button>

        <div>
          <div class="outer-title">
            <img alt="" src="../../../../assets/img/Mark.svg">
            <div>
              <h3>{{fieldHeader}}</h3>
              <p>Add or Edit your Fields here</p>
            </div>
          </div>
          <membership-block-ui [isBlocked]="isBlocked"></membership-block-ui>

          <form class="m-t-15" [formGroup]="fieldForm" novalidate>
            <div role="tabpanel" id="btnHome">

              <div class="form-group" [ngClass]="(fieldForm.get('displayName').valid || (fieldForm.get('displayName').pristine && !isFieldFormSubmitted)) ? '':'is-error'">
                <label for="">Title</label>
                <input type="text" class="form-control" formControlName="displayName" id="txtDisplayName" placeholder="Display Name">
                <div [hidden]="fieldForm.get('displayName').valid || (fieldForm.get('displayName').pristine && !isFieldFormSubmitted)" class="error-msg animated shake">
                  <span *ngIf="fieldForm.get('displayName').errors && fieldForm.get('displayName').errors.required">
                    Field Name is Required
                  </span>
                </div>
              </div>

              <div class="form-group" [ngClass]="(fieldForm.get('dataType').valid || (fieldForm.get('dataType').pristine && !isFieldFormSubmitted)) ? '':'is-error'">
                <label for="">Type</label>
                <select id="ddFieldType" class="form-control" formControlName="dataType" (change)="multipleSelector($event)">
                  <option [value]="null" disabled [selected]="true"> Select a Type </option>
                  <option *ngFor="let type of types" [value]="type.value">{{type.text}}</option>
                </select>
                <div [hidden]="fieldForm.get('dataType').valid || (fieldForm.get('dataType').pristine && !isFieldFormSubmitted)" class="error-msg animated shake">
                  <span *ngIf="fieldForm.get('dataType').errors && fieldForm.get('dataType').errors.required">
                    Field Type is Required
                  </span>
                </div>
              </div>

              <div class="multiele" *ngIf="isMultipleElement">
                <div class="add-ele">

                  <div class="input-group">
                    <input type="text" id="txtValues" placeholder="Display Value" class="form-control" [(ngModel)]="ddValue" [ngModelOptions]="{standalone: true}">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button" (click)="addMultiChoiceValues()"><i class="fas fa-plus"></i></button>
                    </span>
                  </div>
                </div>

                <div class="elements" *ngFor="let opt of ddValues">
                  <span>{{opt.text}}</span>
                  <div class="actions">
                    <a (click)="deleteChoice(opt.value)">
                      <i class="far fa-trash-alt text-danger"></i>
                    </a>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="">Placeholder</label>
                <small _ngcontent-c11="" class="pull-right">
                  <i _ngcontent-c11="" class="fas fa-info-circle m-r-5"></i>Optional</small>
                <input type="text" class="form-control" formControlName="placeholder" id="txtPlaceholder" placeholder="placeholder">
              </div>

              <div class="form-group">
                <label for="">ToolTip</label>
                <small _ngcontent-c11="" class="pull-right">
                  <i _ngcontent-c11="" class="fas fa-info-circle m-r-5"></i>Optional</small>
                <textarea class="form-control" formControlName="toolTip" id="txtToolTip" rows="3" placeholder="Tool Tip Description"></textarea>
              </div>

              <div class="form-group">

                <div class="switch_box box_1">
                  <input type="checkbox" class="switch_1" type="checkbox" formControlName="isRequired" id="chkIsRequired">
                </div>

                Required Field
              </div>

              <div class="form-group text-right" *ngIf="!isEditField">
                <button (click)="addNewField()" id="btnAddNewField" class="btn btn-primary pull-right">Add Field</button>
              </div>
              <div class="form-group text-right" *ngIf="isEditField">
                <button (click)="updateField()" id="btnUpdateNewField" class="btn btn-primary pull-right">Update Field</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #addNewTabModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-md side-div">
    <div class="modal-content wobble" style="max-width:unset">

      <div class="modal-body">
        <button type="button" id="btnHide" class="close pull-right" aria-label="Close" (click)="hideAddTabModal()">
          <span aria-hidden="true">&times;</span>
        </button>

        <div>
          <div class="outer-title">
            <img alt="" src="../../../../assets/img/Mark.svg">
            <div>
              <h3>{{tabHeader}}</h3>
              <p>Add or Edit your Tabs here</p>
            </div>
          </div>
          <membership-block-ui [isBlocked]="isBlocked"></membership-block-ui>

          <form class="m-t-15" [formGroup]="tabForm" novalidate>
            <div role="tabpanel" id="btnHome">

              <div class="form-group" [ngClass]="(tabForm.get('displayName').valid || (tabForm.get('displayName').pristine && !isTabFormSubmitted))? '':'is-error'">
                <label for="">Tab Name</label>
                <input type="text" class="form-control" formControlName="displayName" id="txtDisplayName" placeholder="Display Name">
                <div [hidden]="tabForm.get('displayName').valid || (tabForm.get('displayName').pristine && !isTabFormSubmitted)" class="error-msg animated shake">
                  <span *ngIf="tabForm.get('displayName').errors && tabForm.get('displayName').errors.required">
                    Tab Name is Required
                  </span>
                </div>
              </div>

              <div class="form-group">
                <label for="">Tab Description</label>
                <textarea type="text" class="form-control" formControlName="tabDescription" id="txtTabDescription" placeholder="Tab Description"></textarea>
              </div>

              <div class="form-group" *ngIf="!this.tab.isSystemTab">
                <div class="switch_box box_1">
                  <input type="checkbox" class="switch_1" type="checkbox" type="checkbox" formControlName="isVisible" id="chkIsVisible">
                </div>
                Show Tab
              </div>

              <div class="form-group text-right" *ngIf="!isEditTab">
                <button (click)="addNewTab()" id="btnAddNewTab" class="btn btn-primary pull-right">Add New Tab</button>
              </div>
              <div class="form-group text-right" *ngIf="isEditTab">
                <button (click)="updateTab()" id="btnEditNewTab" class="btn btn-primary pull-right">Update Tab</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>