.wizard .wizard-inner-body{
    background-color: transparent;
}
.table-tabs .tab-content {
    padding: 0px !important;
}

.pull-right{
    .input-group{
           width: 49%;
    float: left;
    margin-right: 0;
    }
}

.payemnt .tab-container .tab-content {
    padding-top: 0px !important;
}

.tabber{
    margin-bottom: 0;
        justify-content: flex-start;
}

.Pending{
        background-color: #FFC107;
}

.badge{
        min-width: 70px;
}

::ng-deep .remove-ul ul{
    display: none;
}