<div class="content animated fadeIn">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="main-title tabber">
          <span class="svg sub-svg">
            <img src="assets/img/Wallet.svg" alt="">
          </span>
          <div class="title-content">
            <h4>{{'Payments.1'| translate }}</h4>
            <p>{{'Payments.2'| translate }}</p>
          </div>

        </div>
        <section  *ngIf="paymentCount != 0" class="wizard">
          <div class="wizard-inner-body payemnt">
            <tabset #staticTabs class="remove-ul">
              <tab id="btnPayment" class="">
                <ng-template tabHeading>
                  <i class="far fa-credit-card"></i> {{'Payments.1'| translate }}
                </ng-template>


                <div class="panel panel-default no-margin">
                  <div class="panel-body title-panel">
                    <div class="row">


                      <form [formGroup]="paymentSearchForm">
                        <div class="col-md-6">
                          <div class="hav-ico width300">
                            <span class="field-icon">
                              <i class="fa fa-search"></i>
                            </span>
                            <input type="text" id="btnSearch" class="form-control" placeholder="Search By Invoice ID, Name" (keyup)="searchTerm$.next($event.target.value)">

                          </div>
                        </div>
                        <!-- /input-group -->

                        <div class="col-md-6">
                          <div class="pull-right">
                            <div class="form-inline">
                             
                                  <div class="form-group m-r-16">
                                      <label>From </label>
                                      <input id="txtToDate" class="form-control input-md" type="text" bsDatepicker formControlName="fromDate" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                                        [maxDate]="maxDate">
                                  </div>
                          
                               
                                  <div class="form-group">
                                      <label>To </label>
                                      <input id="txtFromDate" class="form-control input-md" type="text" bsDatepicker formControlName="toDate" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                                        [maxDate]="maxDate">
                                  </div>
                               
                               
                            </div>
                        
                          </div>
                        </div>

                      </form>


                    </div>


                  </div>
                </div>

                <div class=" panel-default">
                  <div class="">
                    <membership-block-ui [isBlocked]="isBlocked"></membership-block-ui>
                    <div class="table-container table-responsive">
                      <table class="table table-filter table-striped">
                        <thead>
                          <tr>
                            <th></th>
                            <th>{{'Payments.6'| translate }}</th>
                            <th>{{'Payments.5'| translate }}</th>
                            <th>{{'Payments.32'| translate }}</th>
                            <th>{{'Payments.7'| translate }}</th>
                            <th class="text-right">{{'Payments.8'| translate }}</th>
                            <th class="text-center">{{'Payments.9'| translate }}</th>
                            <th class="text-right">{{'Payments.10'| translate }}</th>
                          </tr>
                        </thead>
                        <tbody>
                          
                          <tr (click)="goToInvoice(payment.paymentMasterId, payment.memberId)" *ngFor="let payment of paymentDetails">
                              <td *ngIf="payment.profileImage != 'https://membershipfile.blob.core.windows.net/profileimagedefault/'">
                                <a class="pull-left">
                                  <img src={{payment.profileImage}} class="media-photo">
                                </a>
                              </td>
                              <td *ngIf="payment.profileImage == 'https://membershipfile.blob.core.windows.net/profileimagedefault/'">
                                <a class="pull-left">
                                  <img src="./assets/img/user.svg" class="media-photo">
                                </a>
                              </td>
                            <td>
                              <div class="title-wrap">
                                <span class="title">
                                  {{payment.name}}
                                </span>
                                <small> {{payment.email}}</small>
                              </div>
                            </td>
                            <td>{{payment.createdOn|date:'dd MMMM yyyy'}}</td>
                            <td *ngIf="payment.editedOn == null && payment.paymentState != paymentStates.Pending">{{payment.createdOn|date:'dd MMMM yyyy'}}</td>
                            <td *ngIf="payment.editedOn != null && payment.paymentState != paymentStates.Pending">{{payment.editedOn|date:'dd MMMM yyyy'}}</td>
                            <td *ngIf="payment.paymentState == paymentStates.Pending">-</td>
                            <td>
                                <span *ngIf="payment.transActionType == 1"><i class="far fa-clock m-r-5"></i>Member Applicant</span>                                
                            </td>
                            <td class="text-right">{{currency}} {{payment.amount | number:'1.2-2'}}</td>
                            <td class="text-center">
                              <span *ngIf="payment.paymentState == paymentStates.None" class="badge badge-md"><i class="far fa-clock m-r-5"></i>None </span>
                              <span *ngIf="payment.paymentState == paymentStates.Pending" class="badge badge-md Pending"><i class="far fa-clock m-r-5"></i>Pending</span>
                              <span *ngIf="payment.paymentState == paymentStates.PartialyPaid" class="badge badge-md"><i class="far fa-clock m-r-5"></i> PartialyPaid</span>
                              <span *ngIf="payment.paymentState == paymentStates.Paid" class="badge badge-md"><i class="far fa-clock m-r-5"></i> Paid</span>
                            </td>
                            <td class="text-right">
                              <button class="btn btn-default btn-sm" id="btnViwePayment" (click)="goToInvoice(payment.id,payment.memberId)">
                                <i _ngcontent-c6="" class="fas fa-ellipsis-h"></i>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                      <pagination [boundaryLinks]="true" [totalItems]="paginationModel.totalRecords" [(ngModel)]="paginationModel.currentPage"
                        (pageChanged)="pageChanged($event)" [itemsPerPage]="paginationModel.take" class="pagination-sm" [maxSize]="maxSize"
                        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
                      </pagination>

                    </div>
                  </div>
                </div>

              </tab>


            </tabset>

          </div>




        </section>
          <div *ngIf="paymentCount == 0" class="no-data animated fadeInDown ng-star-inserted">
              <img alt="" src="./assets/img/no-data.svg">
              <h4>Oops! No Payment Records Available</h4>
              <div>
             </div>
            </div>
      </div>

    </div>

  </div>
</div>