<div class="content animated fadeInDown">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-12">
                <div class="main-title">
                    <span class="svg sub-svg">
                        <img src="../../../../assets/img/Interaction.svg" alt="">
                    </span>
                    <div class="title-content">
                        <h4>{{'Members.194'| translate }}
                            <span class="badge green">{{MemberCount}} - {{'Members.193'| translate }}</span>
                        </h4>
                        <p>{{'Members.190'| translate }} </p>
                    </div>
                    <div class="pull-right" role="group" aria-label="...">
                            <button type="button" name="send" class="btn btn-default pull-right" id="btnBack" [routerLink]="['/members']">
                              <svg class="svg-inline--fa fa-angle-left fa-w-8" aria-hidden="true" data-prefix="fas" data-icon="angle-left" role="img" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 256 512" data-fa-i2svg="">
                                <path fill="currentColor" d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z"></path>
                              </svg>{{'Members.Back'| translate }}</button>
                          </div>

                </div>


                <section>
                    <div class="panel panel-default">
                        <div class="panel-body title-panel-sub">
                            <div class="sub-title-inner">
                                <div class="title-content ">
                                    <div class="pull-left">
                                        <div class="hav-ico width300">
                                            <span class="field-icon">
                                                <i class="fa fa-search"></i>
                                            </span>
                                            <input type="text" class="form-control" placeholder="Search for..." (keyup)="searchTerm$.next($event.target.value)">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel">
                        <div class="">
                            <div class="table-container table-responsive">
                                <table class="table table-filter table-striped">

                                    <thead>
                                    <membership-block-ui [isBlocked]="isBlocked"></membership-block-ui>
                                    
                                        <tr>
                                            <th></th>
                                            <th>{{'Members.11'| translate }}</th>
                                            <th>{{'Members.25'| translate }}</th>
                                            <th>{{'Members.68'| translate }}</th>
                                            <th>{{'Members.191'| translate }}</th>
                                            <th class="text-right">{{'Members.192'| translate }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let archive of archivedList">
                                            <td>
                                                <img src={{archive.profileImage}} class="media-photo">
                                            </td>
                                            <td>{{archive.name}}</td>
                                            <td>{{archive.phone}}</td>
                                            <td>{{archive.email}}</td>
                                            <td>{{archive.joinDate|date:'dd MMMM yyyy'}}</td>
                                            <td class="text-right">
                                                <button type="button" id="btnRestore" class="btn btn-default btn-sm" (click)="deleteModal.showDeleteModal()" (click)="restoreMemberId(archive.id)"
                                                    data-target="cancelado">
                                                   Restore
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

<membership-delete-modal #deleteModal [message]='"Are you sure you want to Restore this Member?"' (delete)="restoreMember()"></membership-delete-modal>