.add-new-wrapper{
    padding: 0;
        padding-top: 30px;
}

.add-new-section{
        overflow: hidden;
    margin-left: -15px;
    margin-right: -15px;
    /*background-color: #feffff;
    height: calc(100vh - 53px);*/
}
.main-title 
{
        width: 78%;
    margin: auto;
    /*display: flex;
    justify-content: space-between;
    text-align: center;*/
.sub-svg {

    /*height: auto;
    visibility: hidden;*/
}
}

