<div class="content animated fadeIn add-new-wrapper">
  <div class="container-fluid mem">
    <div class="row">
      <div class="col-md-12">
        <div class="main-title">
          <span class="svg sub-svg">
            <img src="../../../../assets/img/Proposal.svg" alt="">
          </span>
          <div class="title-content">
            <h4>{{header}} </h4>
            <p>{{subHeader}}</p>
          </div>

          <div class="btn-group pull-right" role="group" aria-label="...">
            <form action="members.html">
              <button type="button" name="send" class="btn btn-danger m-r-5" *ngIf="this.isEdit" (click)="deleteModal.showDeleteModal()">
                <img src="../../../../assets/img/lnr-trash-white.svg">
                <p>{{'Members.Archive'| translate }}</p>
              </button>
              <button type="button" name="send" *ngIf="!isMemberLevelActive" class="btn btn-default pull-right" id="btnBack" [routerLink]="['/members']">
                <img src="../../../../assets/img/lnr-arrow-left.svg">
                <p>{{'Members.Back'| translate }}</p>
              </button>
              <button type="button" *ngIf="isMemberLevelActive" name="send" class="btn btn-default pull-right" id="btnDeleteBack" (click)="cencelModal.showDeleteModal()">
                <img src="../../../../assets/img/lnr-arrow-left.svg">
                <p>Cancel Memebr</p>
              </button>
            </form>
          </div>
        </div>

        <section class="add-new-section">
          <div class="row">


            <div class="col-md-12">
              <div class="wizard relative">
                <div class="wizard-inner-body add-new-wizard">
                  <membership-block-ui [isBlocked]="isBlocked"></membership-block-ui>

                  <tabset #staticTabs>
                    <tab *ngFor="let tab of tabs" [disabled]="tab.disabled" [active]="tab.active" (select)="tab.active = true" (deselect)="tab.active = false">
                      <ng-template tabHeading>
                        <span [ngClass]="(this.selectedTab[tab.tabCount] == true||isEdit) ?'heading-circle filled':'heading-circle'">{{tab.tabCount}}</span>
                        <span class="heading-title-text">{{tab.displayName}}</span>
                      </ng-template>

                      <div class="form-wrapper-one-col animated fadeInDown">
                        <div class="card text-center">
                          <div class="avatar">
                            <img class="profile-pic avatar-img" alt="" src={{imageLogoSource}}>
                          </div>
                          <h5>{{this.firstName}} {{this.lastName}} </h5>
                          <p class="text-overflow">{{this.email}}</p>
                          <p class="text-overflow">{{this.phone}}</p>

                        </div>
                        <form [formGroup]=tab?.form>
                          <div class="inner-form-title">
                            <h4>
                              <span>{{tab.displayName}}</span> Information</h4>
                            <p>{{tab.tabDescription}}</p>
                          </div>
                          <div *ngFor="let element of tab?.elements" class="form-row">
                            <membership-element (onFileUploads)="fileUpload($event)" (onImageUploads)="imageUpload($event)" [element]="element" [form]="tab?.form"
                              [isFormSubmitted]="tab?.isFormSubmitted"></membership-element>
                          </div>
                          <div class="text-right" *ngIf="tab?.tabCount != tabCount">
                            <button class="btn btn-primary" (click)="goToNextTab(tab?.tabCount)">Next</button>
                          </div>
                          <div class="text-right" *ngIf="tab?.tabCount == tabCount && !isEdit">
                            <button class="btn btn-primary" (click)="saveMember(tab?.tabCount)">Next</button>
                          </div>
                          <div class="text-right" *ngIf="tab?.tabCount == tabCount && isEdit">
                            <button class="btn btn-primary" (click)="updateMember(tab?.tabCount)">Update</button>
                          </div>
                        </form>
                      </div>
                    </tab>

                    <tab *ngIf="isDynamicTabLoaded && !isEdit" [disabled]="isMemberLevelDisabled" [active]="isMemberLevelActive" (select)="isMemberLevelActive = true"
                      (deselect)="isMemberLevelActive = false">
                      <ng-template tabHeading>
                        <span [ngClass]="(this.isMemberLevelSelected == true) ?'heading-circle filled':'heading-circle'">{{levelCount}}</span>
                        <span class="heading-title-text">{{'Members.83'| translate }}</span>
                      </ng-template>
                      <membership-member-level-subscribe [memberId]="this.memberId" (onMemberSubscripitionSave)="goToPaymentTab($event)"></membership-member-level-subscribe>
                    </tab>

                    <tab *ngIf="isDynamicTabLoaded && !isEdit" [disabled]="isMemberPaymentDisabled" [active]="isMemberPaymentActive" (select)="isMemberPaymentActive = true"
                      (deselect)="isMemberPaymentActive = false">
                      <ng-template tabHeading>
                        <span [ngClass]="(this.isMemberPaymentSelected == true) ?'heading-circle filled':'heading-circle'">{{paymentCount}}</span>
                        <span class="heading-title-text">{{'Members.107'| translate }}</span>
                      </ng-template>
                      <membership-member-level-payment [levelPrice]="levelPrice" [memberId]="this.memberId" [memberSubscriptionId]="memberSubscriptionId"
                        *ngIf="this.isMemberPaymentActive"></membership-member-level-payment>
                    </tab>
                  </tabset>

                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <membership-delete-modal #deleteModal [message]='"Are you sure you want to delete this member?"' (delete)="archiveMember()"></membership-delete-modal>
  <membership-delete-modal #cencelModal [message]='"Are you sure you want to cancel this member?"' (delete)="deleteMember()"></membership-delete-modal>
  <membership-delete-modal #destroyModal [message]='"Are you sure you want to cancel this member?"' (delete)="deleteMember()"></membership-delete-modal>