<div class="top-search-bar animated slideInDown hidden">
    
    <ul class="nav navbar-nav pull-right">
         <!-- <div class="hav-ico global-search width300 pull-left">
            <span class="field-icon">
                                <i class="fa fa-search"></i>
                              </span>
            <input id="txtSearch" type="text" class="form-control" placeholder="Search for Member, Contact, Payment...">
        </div> -->
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="svg notify">
                    <img src="assets/img/noti.svg" alt="">
                </span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li>
                    <a href="#">{{'Layout.New Users'| translate }}
                        <span class="badge pull-right"> 3 </span>
                    </a>
                </li>
                <li>
                    <a href="#">{{'Layout.Messages'| translate }}
                        <span class="badge pull-right"> 5 </span>
                    </a>
                </li>
            </ul>
        </li>
       <!-- <li class="hidden">
            <div class="logout pull-right" data-toggle="tooltip" data-placement="left" id="btnlogOut" title="Log out" (click)="logoutUser()">


                <i class="fas fa-sign-in-alt"></i>



            </div>
        </li>-->
        <li>
            <div class="btn-group">
                <div class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="login-circle active-border">
                        <img class="img img-responsive" src="https://pbs.twimg.com/profile_images/718588760003383296/2AG8omMO_400x400.jpg" alt="Adelle Charles">
                    </div>
                    <small class="login-name"><i class="fas fa-chevron-down m-l-5"></i></small>
                </div>

                <ul id="btnLogOutClick" class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a id="btnLogOut" (click)="logoutUser()" title="Select this card"><i class="fas fa-sign-out-alt m-r-5"></i> {{'Layout.Sign Out'| translate }}</a>
                    </li>

                </ul>
            </div>

        </li>
    </ul>

</div>