.logout{
    cursor:pointer;
   
    g,path{
 transition: all .3s;
    }

    &:hover g{
            stroke: #F44336 !important;
            path.bn{
                    transform: translateX(12px);
            }
    }
    
}

.login-circle{
            background: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    height: 35px;
    position: relative;
    width: 35px;
    overflow: hidden;
    float: left;
    margin-right: 8px;
    margin-top: 2px;
}

.top-search-bar .nav > li a {
    padding: 10px;

}

.login-name{
            font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
    display: inline-block;
    color: #364051;
    cursor: pointer;
}
.btn-group.open .dropdown-toggle {
        box-shadow: none;
}