<div class="content">
  <div class="row">
    <div class="col-sm-12">
      <div class="main-title">
        <span class="svg sub-svg">
          <img src="../../../../assets/img/Trophy.svg" alt="">
        </span>
        <div class="title-content">
          <h4>{{'Members.200'| translate }} - {{memberLevelName}}
            <!-- <span class="badge green">{{'Members.164'| translate }}</span> -->
          </h4>
          <p>
            {{'Members.144'| translate }}-
            <strong>{{dateCreated | date}}</strong>
          </p>
        </div>
        <div class="pull-right" role="group" aria-label="...">
          <button type="button" name="send" class="btn btn-default pull-right" id="btnBack" [routerLink]="['/members/memberLevels']">
            <img src="../../../../assets/img/lnr-arrow-left.svg">
            <p>{{'Members.Back'| translate }}</p>
          </button>
        </div>
      </div>

    </div>
  </div>

  <div class="summary">
    <div class="row">

      <div class="col-md-3">
        <div class="card rev" style="padding: 12px 15px;">
          <div class="data">
            <p class="val">{{allocatedActiveCount + allocatedInactiveCount + allocatedTerminatedCount + allocatedPendingCount}}</p>
            <p class="dsc">{{'Members.Total Members'| translate }}
            </p>
          </div>
          <div class="ico animated bounceInDown">
            <img class="img-responsive" src="assets/img/members.svg" alt="">
          </div>

        </div>
      </div>
      <div class="col-md-3">
        <div class="card subs" style="padding: 12px 15px;">
          <div class="data">
            <p class="val">{{allocatedActiveCount}}</p>
            <p class="dsc">{{'Members.161'| translate }}
            </p>
          </div>
          <div class="ico animated bounceInDown">
            <img class="img-responsive" src="assets/img/members.svg" alt="">
          </div>

        </div>
      </div>
      <div class="col-md-2">
        <div class="card inc" style="padding: 12px 15px;">
          <div class="data">
            <p class="val">{{allocatedPendingCount}}</p>
            <p class="dsc">{{'Members.161'| translate }}
            </p>
          </div>
          <div class="ico animated bounceInDown">
            <img class="img-responsive" src="assets/img/members.svg" alt="">
          </div>

        </div>
      </div>
      <div class="col-md-2">
        <div class="card due">
          <div class="data">
            <p class="val">{{allocatedInactiveCount}}</p>
            <p class="dsc">{{'Members.162'| translate }}

            </p>
          </div>
          <div class="ico animated bounceInDown">
            <img class="img-responsive" src="assets/img/members.svg" alt="">
          </div>

        </div>
      </div>
      <div class="col-md-2">
        <div class="card ter">
          <div class="data">
            <p class="val">{{allocatedTerminatedCount}}</p>
            <p class="dsc">{{'Members.171'| translate }}
            </p>
          </div>
          <div class="ico animated bounceInDown">
            <img class="img-responsive" src="assets/img/members.svg" alt="">
          </div>

        </div>
      </div>
    </div>

  </div>

  <div class="row">


    <div class="col-md-5">

      <div class="panel panel-default relative padding-all">
        <membership-block-ui [isBlocked]="isBlocked"></membership-block-ui>
        <div class="panel-body title-panel-sub">

          <div class="title-content ">

            <div class="outer-title">
              <img src="../../../../assets/img/Proposal.svg" alt="">
              <div>
                <h3>{{'Members.Basic Settings'| translate }}</h3>
                <p>Edit or View your Basic Level Informations</p>
              </div>
            </div>




            <form class="" [formGroup]="memberLevelForm" novalidate>

              <div role="tabpanel" id="btnHome">
                <div class="form-group">
                  <label for="">{{'Members.217'| translate }}</label>
                  <div *ngIf="updateClick" class="well">{{memberLevelName}}</div>
                  <input *ngIf="!updateClick" type="text" class="form-control" [disabled]="updateClick" formControlName="name" id="txtName"
                    placeholder="Membership Name">
                  <div [hidden]="memberLevelForm.get('name').valid || (memberLevelForm.get('name').pristine)" class="error-msg">
                    <span *ngIf="memberLevelForm.get('name').errors && memberLevelForm.get('name').errors.required">
                      {{'Members.119'| translate }}
                     
                    </span>
                    <span *ngIf="memberLevelForm.get('name').errors && memberLevelForm.get('name').errors.maxlength">
                      {{'Members.118'| translate }}
                    </span>
                  </div>
                </div>

                <div class="form-group">
                  <label for="exampleInputAmount">{{'Members.218'| translate }}</label>
                  <div class="input-group">
                    <input type="text" class="form-control" disabled formControlName="price" id="txtPrice" placeholder="Amount">
                    <div class="input-group-addon">
                      <B>{{currency}}</B>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="">{{'Members.103'| translate }}</label>
                  <div class="flex align-center">
                    <div class="radio m-b-0 m-r-16">
                      <label>
                        <input type="radio" id="rdUnlimited" disabled name="subscriptionType" value="2" formControlName="subscriptionType"> {{'Members.104'| translate }}
                      </label>

                    </div>
                    <div class="radio flex align-center m-r-5 m-b-0" style="width: 180px; margin-top: 9px;">
                      <label class="m-r-5">
                        <input type="radio" id="rdLimited" value="1" disabled formControlName="subscriptionType" name="subscriptionType"> {{'Members.132'| translate }}
                      </label>
                      <div *ngIf="updateClick">{{memberLevelCount}}</div>
                      <div class="form-inline" [hidden]="memberLevelForm.get('subscriptionType').value != true">
                        <input style="width:82px" *ngIf="!updateClick" type="text" class="form-control input-sm m-r-5" formControlName="capacity"
                          id="txtCapacity" placeholder="Limited Count">

                        <div [hidden]="memberLevelForm.get('capacity').valid || (memberLevelForm.get('capacity').pristine)" class="error-msg">
                          <span *ngIf="memberLevelForm.get('capacity').errors && memberLevelForm.get('capacity').errors.required">
                            {{'Members.133'| translate }}
                           
                          </span>
                          <span *ngIf="memberLevelForm.get('capacity').errors && memberLevelForm.get('capacity').errors.patternInvalid">
                            {{'Members.134'| translate }}
                          </span>
                        </div>
                      </div>

                    </div>

                  </div>
                </div>

              </div>
              <!-- <div class="form-group">
                      <label class="m-r-5">
                        <input type="radio" id="rdRange" value="2" disabled formControlName="Limited" name="Limited" (change)="dateRange($event)"> {{'Members.135'| translate }}</label>
                      <label>
                        <input type="radio" id="rdUnRange" value="1" disabled formControlName="Limited" name="Limited" (change)="dateRange($event)">{{'Members.136'| translate }}</label>
                    </div> -->
              <div class="form-group">
                <label for="">{{'Members.Period'| translate }}</label>
                <div class="" *ngIf="limitDisable">
                  <div class="btn-group custom-radio">
                    <label class="btn btn-default ">
                      <input type="radio" name="membershipExpired" disabled value="1" id="rdAnnualy" formControlName="membershipExpired">
                      <span>{{'Members.Annualy'| translate }}</span>
                    </label>
                    <label class="btn btn-default">
                      <input type="radio" name="membershipExpired" disabled value="2" id="rdMonthly" formControlName="membershipExpired">
                      <span>{{'Members.Monthly'| translate }}</span>
                    </label>
                    <label class="btn btn-default">
                      <input type="radio" name="membershipExpired" disabled value="3" id="rdWeekly" formControlName="membershipExpired">
                      <span>{{'Members.Weekly'| translate }}</span>
                    </label>
                    <label class="btn btn-default">
                      <input type="radio" name="membershipExpired" disabled value="4" id="rdDaily" formControlName="membershipExpired">
                      <span>{{'Members.Daily'| translate }}</span>
                    </label>
                    <label class="btn btn-default">
                      <input type="radio" name="membershipExpired" disabled value="5" id="rdLifeTime" formControlName="membershipExpired">
                      <span>{{'Members.Life Time'| translate }}</span>
                    </label>
                  </div>

                </div>
              </div>

              <div class="form-group">

                <label *ngIf="updateClick">
                    </label>
                <label *ngIf="!updateClick">        
                    </label>

                <div *ngIf="updateClick" class="switch_box box_1">
                  <input type="checkbox" class="switch_1 m-r-5" *ngIf="updateClick" disabled id="rdhasApproval" formControlName="hasApproval" name="hasApproval">Has
                  Approval

                </div>

                <div *ngIf="!updateClick" class="switch_box box_1">
                  <input type="checkbox" class="switch_1 m-r-5" *ngIf="!updateClick" id="rdhasApproval" formControlName="hasApproval" name="hasApproval">Has
                  Approval

                </div>

              </div>

              <div class="form-group">
                <label for="">{{'Members.111'| translate }}</label>
                <div *ngIf="updateClick" class="well">{{memberLevelDescription}}</div>
                <textarea *ngIf="!updateClick" class="form-control" [disabled]="!dis" formControlName="description" id="txtDescription" rows="4"></textarea>
              </div>

              <div class="form-group text-right">
                <button *ngIf="updateClick" id="btnEdit" (click)="updateClicked()" class="btn btn-primary pull-right m-r-5">{{'Members.147'| translate }}</button>
                <button *ngIf="!updateClick" id="btnUpdate" (click)="update()" class="btn btn-primary pull-right m-r-5">{{'Members.53'| translate }}</button>
                <button *ngIf="!updateClick" id="btnCancel" (click)="cancelClicked()" class="btn btn-default pull-right m-r-5">{{'Members.148'| translate }}</button>
              </div>

            </form>

          </div>


        </div>


      </div>
    </div>

    <div class="col-md-7">
      <div class="panel panel-default padding-all">
        <div class="outer-title">
          <img src="../../../../assets/img/Interaction.svg" alt="">
          <div>
            <h3>{{'Members.149'| translate }}</h3>
            <p>{{'Members.Update renewal setting here'| translate }}</p>
          </div>
        </div>
        <membership-block-ui [isBlocked]="isBlocked"></membership-block-ui>
        <div class="panel-body title-panel-sub">
          <div class="sub-title-inner">
            <div class="title-content ">
              <div style="display: block;" role="group" aria-label="...">
                <form class="" [formGroup]="memberLevelInrenewalForm" novalidate>
                  <div role="tabpanel" id="btnHome">
                    <p class="well">
                      <i class="fas fa-info-circle m-r-5"></i>{{'Members.151'| translate }}</p>
                    <div class="form-group">
                      <select id="ddRenewable" name="IsRenewable" class="form-control" (change)="sendEmail($event)" formControlName="IsRenewable">
                        <option value="1">{{'Members.152'| translate }}</option>
                        <option value="2">{{'Members.153'| translate }}</option>
                      </select>
                    </div>


                    <div class="form-group" *ngIf="showEmailtype">
                      <div>
                        <input type="checkbox" id="chkSendMail" (change)="sendEmailChange($event)" formControlName="IsSendEmail">                        {{'Members.154'| translate }}
                      </div>
                    </div>




                    <div *ngIf="showEmail" class="form-group">

                      <h5>{{'Members.Reminder Settings'| translate }}</h5>
                      <hr style="margin-top: 0;">

                      <label style="font: bold;" for="">{{'Members.236'| translate }}</label>
                      <div class="flex flex-start align-center">
                        <input type="number" min="1" class="form-control" name="RenewalDays" formControlName="RenewalDays" id="txtDays" placeholder="Days"
                          style="width: 100px; margin-right: 6px;">
                        <small class="m-t-5">{{'Members.156'| translate }}</small>
                      </div>
                    </div>

                    <div *ngIf="showEmail" class="form-group">
                      <label for="">{{'Members.237'| translate }}</label>
                      <select id="ddTemplate" name="template" class="form-control" formControlName="template">
                        <option [value]="null" disabled [selected]="true"> {{'Members.158'| translate }}</option>
                        <option *ngFor="let tem of templates" [value]="tem.value">{{tem.text}}</option>
                      </select>
                      <div [hidden]="memberLevelInrenewalForm.get('template').valid || (memberLevelInrenewalForm.get('template').pristine)" class="error-msg">
                        <small *ngIf="memberLevelInrenewalForm.get('template').errors && memberLevelInrenewalForm.get('template').errors.required">
                          {{'Members.49'| translate }}
                         
                        </small>
                      </div>
                      <a style="margin-top: 4px; display: block;" (click)="Createnewtemplate()">{{'Members.Click here to create a new template'| translate }}</a>
                    </div>

                    <div class="form-group text-right">
                      <button (click)="updateSubscriptionRenewal()" class="btn btn-primary pull-right">{{'Members.147'| translate }}</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default relative padding-all">
        <div class="outer-title">
          <img src="../../../../assets/img/Proposal.svg" alt="">
          <div>
            <h3>{{'Members.224'| translate }}</h3>
            <p>{{'Members.238'| translate }}</p>
          </div>
        </div>
        <membership-block-ui [isBlocked]="isBlocked"></membership-block-ui>
        <div class="panel-body title-panel-sub">
          <div class="sub-title-inner">
            <div class="title-content ">
              <div role="group" aria-label="...">
                <form class="" [formGroup]="memberLevelInformationForm" novalidate>
                  <div role="tabpanel" id="btnHome">

                    <div class="clearfix hidden">
                      <div class="pull-left well active" style="margin-right: 8px;">{{'Members.161'| translate }}
                        <span class="badge green">{{allocatedActiveCount}}</span>
                      </div>
                      <div class="pull-left well" style="margin-right: 8px;">{{'Members.162'| translate }}
                        <span class="badge green">{{allocatedInactiveCount}}</span>
                      </div>
                      <div class="pull-left well terminated">Terminated
                        <span class="badge green">{{allocatedTerminatedCount}}</span>
                      </div>
                    </div>
                    <div class="clearfix hidden">
                      <div>
                        <span class="badge green">{{allocatedActiveCount + allocatedInactiveCount + allocatedTerminatedCount}}</span>
                      </div>
                    </div>
                    <label for="exampleInputAmount">{{'Members.163'| translate }}</label>
                    <div class="form-group">
                      <select id="ddlevelStatus" class="form-control" (change)="statusChange($event)" formControlName="levelStatus">
                        <option value="Active">{{'Members.164'| translate }}</option>
                        <option value="Deactive">{{'Members.165'| translate }}</option>
                      </select>
                    </div>
                    <div class="">
                      <div *ngIf="showLable">
                        <label style="color: red">
                          <i class="fas fa-exclamation-triangle m-r-5"></i> {{'Members.166'| translate }}!</label>
                      </div>
                      <button [disabled]="isRequested" id="btnUpdateStatus" (click)="deleteModal.showDeleteModal()" class="btn btn-primary pull-right">{{'Members.168'| translate }}</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

<membership-delete-modal #deleteModal [message]='"Are you sure you want to Deactivate this Membership Level?"' (delete)="archiveMembershipLevel()"></membership-delete-modal>