<div class="content animated fadeIn">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="main-title sub-g">
          <div class="pull-left">
            <span class="svg sub-svg">
              <img src="../../../../assets/img/Wallet.svg" alt="">
            </span>
            <div class="title-content">
              <h4>{{'Payments.1'| translate }}</h4>
              <p>{{'Payments.13'| translate }} -
                <span class="badge"> {{'Payments.17'| translate }}: #00{{paymentViewModel.id}}</span>
              </p>
            </div>
          </div>
          <div class="pull-right" role="group" aria-label="...">
            <button type="button" name="send" class="btn btn-default" id="btnBack" (click)="goToPayments()">{{'Payments.29'| translate }}</button>
          </div>


        </div>

        <div class="panel panel-default m-b-0 bottom-round">
          <div class="panel-body title-panel m-b-15 ">
            <div class="pull-right m-t-5">
              <button class="btn btn-default m-r-5" (click)="printToCart('divInvoice')">
                <i class="fas fa-print m-r-5"></i> {{'Payments.15'| translate }}</button>
              <button class="btn btn-primary" id="btnSettle" (click)="paymentModal.showPaymentModal(paymentViewModel)" [hidden]="isRequested">{{'Payments.14'| translate }}</button>
              <button class="btn btn-primary" id="btnSettle" disabled [hidden]="!isRequested">{{'Payments.30'| translate }}</button>
            </div>



            <membership-payment-modal #paymentModal (pay)="settlePaymnet($event)"></membership-payment-modal>
          </div>
        </div>
<div class="row">
        <div class="col-md-4">
          <!-- <membership-personal-info [memberId]="memberId"></membership-personal-info> -->
          <div class="payments-card">
            <img src="./assets/img/Floder.svg" alt="">
            <h2>Payment Invoices</h2>
            <p>View and Print your Invoices here..</p>
          </div>
        </div>

        <div class="col-md-8 p-l-0">
          <div class="wizard animated fadeInRight">

            <div class="invoice">

              <div class="invoice-wrapper {{paymentViewModel.paymentState}}" id="divInvoice">

                <div class="invoice-header">
                  <h1 class="invoice-title">
                    {{'Payments.16'| translate }}
                    <small>{{'Payments.17'| translate }} : #00{{paymentViewModel.id}}</small>
                    <small>{{'Payments.18'| translate }} : {{paymentViewModel.createdOn|date:'dd MMMM yyyy'}}</small>
                  </h1>
                  <div class="invoice-date">
                      <div class="image-circle">
                          <img clas="img img-responsive" [src]="imageSource" alt="Adelle Charles">
                      </div>
                  </div>
                </div>



                <div class="invoice-details">
                  <div class="invoice-company">
                    <small>{{'Payments.19'| translate }}:</small>
                    <div class="invoice-company-name">
                      <h6> {{membershipID}}</h6>
                      <strong>{{paymentViewModel.memberName}}</strong>
                      <br>
                      <!-- <p class="m-b-0">A - {{member.contactInfo?.address}}, {{memberCountry}}</p>
                      <p class="m-b-0">E - {{member.contactInfo?.email}}</p> -->
                    </div>


                  </div>

                  <div class="invoice-company text-right">
                    <small>{{'Payments.20'| translate }}:</small>
                    <div class="invoice-company-name">
                      <strong>{{orgName}}</strong>
                      <br>
                      <p class="m-b-0">{{tenanViewModel.address}}, {{country}} - A</p>
                      <p class="m-b-0">{{tenanViewModel.email}} - E</p>
                      <p class="m-b-0">Tel-{{tenanViewModel.phone}} - T</p>
                    </div>


                  </div>
                </div>

                <div class="invoice-body">
                  <div class="invoice-table">
                    <table class="table">
                      <thead class="table-head">
                        <tr class="table-row">
                          <th class="">{{'Payments.22'| translate }}</th>
                          <th class="text-right">{{'Payments.23'| translate }}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="table-row">
                          <td class="">{{paymentViewModel.name}} {{'Payments.25'| translate }}</td>
                          <td class="text-right">{{currency}} {{paymentViewModel.amount}}</td>

                        </tr>


                      </tbody>

                      <tfoot>
                        <tr class="table-row">
                          <td class="">
                            <strong>{{'Payments.23'| translate }}</strong>
                          </td>
                          <td class="text-right">
                            <strong>{{currency}} {{paymentViewModel.amount}}</strong>
                          </td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>

                <hr>


              </div>
            </div>

          </div>
        </div>
        </div>

      </div>
    </div>
  </div>
</div>